<a href="https://colab.research.google.com/github/Tilak46-R/CODING-PRACTICE/blob/main/AB_CAT_PREP_1ST_MODULE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **DATA TYPES PRACTICE**

Kids on a picnic decided to play fun game and find the area of circle they are sitting on. Assume the radius of circle to be some floating numbers.

In [ ]:
pi = 3.14159
radius =float(input())
Area = (pi * radius**2)
print(round(Area,2))

1.1
3.8

Isha is assigned a task to calculate the total amount at the end of the day. Provided with a list, write a Python program for Isha to sum all the elements in the list.

In [ ]:
lst = [1,2,-8]
summation = sum(lst)
print(summation)

-5

Write a Python program to count the repeated word given by user in that string.

In [ ]:
sentence = input()
word = input()

rep = sentence.lower()

dup = rep.count(word)
print(dup)

Book Dance Draw Dance is dance for dance paper dance
dance
5

In [ ]:
sentence = "Book Dance Draw Dance is dance for dance paper dance"
len(sentence)

52

In [ ]:
sentence.count('e')

6

#### **Finding 'e's in the Bookshelves**



In your pursuit of expanding your knowledge of Python, you come across a bookstore in search of books on the subject.

There, you meet a salesperson who is also a Python enthusiast!!

The salesperson presents you with a challenge - they have a list of five books related to Python and if you can write a program that finds the number of occurance of letter 'e' , the store will give you a free book of your choice. 😀

Are you ready to accept the challenge? 💪

In [ ]:
books = "Python for Everyone, Learn Python the Hard Way, Python Crash Course , Starting Out with Python, Automate the Boring Stuff with Python"

In [ ]:
books.count('e')

7

In [ ]:
rep_books = books.lower()
rep_books

'python for everyone, learn python the hard way, python crash course , starting out with python, automate the boring stuff with python'

In [ ]:
rep_books.count('e')

8

In [ ]:
books_counts = books.lower().count('a')
print("The total num of a's in the given sentence is " + str(books_counts))
print(f"The total num of a's in the given sentence is {books_counts}")

The total num of a's in the given sentence is 7
The total num of a's in the given sentence is 7

###  Creating a String
* To create a string in Python you need to use either single quotes or double quotes. For example:

In [ ]:
name = 'Hi my name is Tilak'

In [ ]:
print('I'm fine. How are you?')

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-25-f13a909ef891>, line 1)

In [ ]:
print('I\'m fine. How are you?')

I'm fine. How are you?

###Immutability:

Strings are Immutable

Lists are Mutable

Tuples are immutable

Dictionaries are mutable

In [ ]:
MY_LIST = [1,2,3,4,5]
print(MY_LIST)

[1, 2, 3, 4, 5]

In [ ]:
MY_LIST.append(6)

In [ ]:
MY_LIST

[1, 2, 3, 4, 5, 6]

In [ ]:
lst = ['Tilak',True,25,3.14159]

In [ ]:
lst

['Tilak', True, 25, 3.14159]

MUTABILITY OF LISTS

In [ ]:
lst[0]= 'Tilak R'
lst

['Tilak R', True, 25, 3.14159]

📊👨‍🎓👩‍🎓🔢📝👩‍🏫
We have the marks scored by different students in a class stored in a list.
The teacher wants to calculate the mean score to assess the overall performance of the class.
Do you think you'll be able to help her out?

Functions you just learned like sum() and length() are just the tools you need right now.💡💡💡

In [ ]:
marks = [87, 76, 95, 68, 80, 83, 92, 74, 79, 89]

mean_marks = sum(marks)/len(marks)

print(mean_marks)

82.3

## Tuples and Dictionaries

In [ ]:
tup = (1,2,3,4)

In [ ]:
tupp = ("Tilak",True,25,3.14159)
tupp

('Tilak', True, 25, 3.14159)

In [ ]:
tupp[0] = 'Tilak R'

TypeError: 'tuple' object does not support item assignment

Tuples are immutables

In [ ]:
len(tupp)

4

In [ ]:
sum(tup)

10

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
marvel_dict = {'Name':'Thor','Place':'Asgard','Weapon' : 'Hammer', 1:2, 3 : 'power', 'alibies' : ['Ironman','Captain America'], 'abc' : {1:2, 4:5}}

marvel_dict['abc']

{1: 2, 4: 5}

Mutability of Dictionaries

In [ ]:
customer = {
    "id": 1234,
    "name": "John Smith",
    "email": "john@example.com"
}


customer["email"] = 'Johnsmith@gmail.com'

print(customer)

{'id': 1234, 'name': 'John Smith', 'email': 'Johnsmith@gmail.com'}

In [ ]:
customer.keys()

dict_keys(['id', 'name', 'email'])

In [ ]:
customer.values()

dict_values([1234, 'John Smith', 'Johnsmith@gmail.com'])

In [ ]:
customer.items()

dict_items([('id', 1234), ('name', 'John Smith'), ('email', 'Johnsmith@gmail.com')])

This is how John has been storing the data at his fruit shop. He adds the name of the fruit each time it's sold, as follows:

['Mango','Mango','Pineapple','Pineapple','Apple','Mango','Banana','Banana', 'Pineapple','Apple','Pineapple'] 🤦

But, this method is not very efficient or easy to read.

Forunately you were there at the shop to grab some apples yourselves, and you saw what John was doing.

You can help him out to structure the data by using dictionaries. How?

In [ ]:
#Here's John's list:
fruits=['Mango','Mango','Pineapple','Pineapple','Apple','Mango','Banana','Banana','Pineapple','Apple','Pineapple']

In [ ]:
fruit_dict = {}

fruit_dict['Mango'] = fruits.count('Mango')
fruit_dict['Pineapple'] = fruits.count('Pineapple')
fruit_dict['Banana'] = fruits.count('Banana')

fruit_dict

{'Mango': 3, 'Pineapple': 4, 'Banana': 2}

Write a Python program to check whether the given strings are palindromes or not. Return True otherwise False.

In [ ]:
word = input()

word = word[::-1]

print(word == word[::-1])

malayalam
True

In [ ]:
#Write a Python program to accept a string from the user and display n characters from right of string.

string = String Slicing in Python
new_str = string[-1:-6]

SyntaxError: invalid syntax (<ipython-input-62-4391f3aff63b>, line 3)

In [ ]:
string = input("enter the string")
n = int(input("enter the number of characters from right:"))
new_str = string[-n:]
print("The last", n, "characters of the sting are:", new_str)

enter the stringString Slicing in Python
enter the number of characters from right:5
The last 5 characters of the sting are: ython

Just to sum up two list

In [ ]:
lst_orig = [1, 2, 3, 4, 5, 6, 7, 8, 9]
lst_modify=[10, 20, 30]

merged_lsit = lst_orig + lst_modify

print(merged_lsit)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30]

Given two lists as inputs, write a python program to add the elements of the second list on to the first list at the index location 1.

In [ ]:
lst_orig = [1, 2, 3, 4, 5, 6, 7, 8, 9]
lst_modify=[10, 20, 30]
length = len(lst_modify) + 1

lst_orig[1:length] = lst_modify

print(lst_orig)

[1, 10, 20, 30, 5, 6, 7, 8, 9]

## **INDEXING AND SLICING**

Strings can be indexed

Lists can be indexed

Tuples can be indexed

Dictionaries can be indexed through keys

Sets cannot be indexed since they are unordered collection of unique items

In [1]:
lst = [1,2,3,4,5,6,7,8,9]
lst[1]

2

In [2]:
lst[2]

3

In [3]:
lst = ['Arun','Tilak','Pavan','Teju','Nisha','Mamatha']
lst[4]

'Nisha'

In [5]:
tup = ('Arun','Tilak','Pavan','Teju','Nisha','Mamatha')
tup[3]

'Teju'

In [6]:
stri = "My name is Tilak"
stri[0]

'M'

In [7]:
stri[5]

'm'

In [13]:
dict = {
      "Name" : "Tilak",
      "Age" : "25",
      "email":"arunnayak221@gmail.com"
    }

In [14]:
dict['Name']

'Tilak'

In [17]:
dict["Age"]

'25'

In [18]:
my_set = {1, 2, 3, 4, 5}
print(my_set[2])

TypeError: 'set' object is not subscriptable

#### Consider the following list of iconic marvel movie characters. Create two teams of superheroes based on their index position: one team should consist of all the characters located at even index positions, while the other team should consist of all the characters located at odd index positions.

marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']

In [34]:
#Here's the list
marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange','Namor']

In [21]:
team_even = [marvel_words[0],marvel_words[2],marvel_words[4],marvel_words[6],marvel_words[8],marvel_words[10]]
team_odd = [marvel_words[1],marvel_words[3],marvel_words[5],marvel_words[7],marvel_words[9]]

In [22]:
print(team_even)

['Avengers', 'Spider-Man', 'Hulk', 'Black Widow', 'Wolverine', 'Namor']

In [23]:
print(team_odd)

['X-Men', 'Iron Man', 'Thor', 'Captain America', 'Doctor Strange']

#### Consider the following list of iconic marvel movie characters. Store the word 'Namor' in a variable and use reverse indexing to reverse it.

marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']

In [35]:
new_word = marvel_words[-1]
new_word

'Namor'

In [36]:
reverse_words = new_word[::-1]

reverse_words

'romaN'

## **SLICING**

In [42]:
sent = "Hi my name is tilak"
sent[0:5]

'Hi my'

In [43]:
sent[7:]

'ame is tilak'

## How do we use the **step size**?
Here we have sliced the whole string but with a step size of 2. So the program would output every second element starting from the first

In [44]:
sent[::2]

'H ynm stlk'

In [45]:
sent[::-1]

'kalit si eman ym iH'

In [46]:
sent[::-2]

'klts mny H'

####🧠 **Brain Teaser** 🧠
* How can you extract "**yget**" from the string "**strategy**"?

In [55]:
word = "strategy"
new = word[-4::]
new[::-1]

'yget'

or

In [56]:
word[-1:-5:-1]

'yget'

In [57]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[1:3])   # Output: (2, 3)
print(my_tuple[:2])   # Output: (1, 2)

(2, 3)
(1, 2)

In [64]:
my_list = [1, 2, 3, 4, 5]

print(my_list[1:]) #prints from first index element to last

print(my_list[:1]) #prints upto first index element

print(my_list[::1]) #prints upto the last element

print(my_list[-1:]) #prints the last letter

print(my_list[:-1]) # prints upto last element i.e the first element fom last

print(my_list[::-1]) #reverses the list

[2, 3, 4, 5]
[1]
[1, 2, 3, 4, 5]
[5]
[1, 2, 3, 4]
[5, 4, 3, 2, 1]

#### Here's a list of iconic marvel movie characters:

marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']

Write a code to print these characters:

'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America'

In [67]:
#Here's the list
marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange','Namor']

In [70]:
new_words = marvel_words[2:8]

In [71]:
new_words

['Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America']

In [72]:
spider = new_words[0]
spider_extract = spider[0:6]
spider_extract

'Spider'

Print data types of all variables in desired format..

In [75]:
a = type(input())
b = type(float(input()))
c= type(complex(input()))
d = type(bool(input()))
e = type(str(input()))
f = type(tuple(input()))
g = type(list(input()))


print(f"Type of a is {a}:")
print(f"Type of a is {b}:")
print(f"Type of a is {c}:")
print(f"Type of a is {d}:")
print(f"Type of a is {e}:")
print(f"Type of a is {f}:")
print(f"Type of a is {g}:")
1

14
4.1
(1+2j)
True
tilak
(12,5)
[12,24,36,48]
Type of a is <class 'str'>:
Type of a is <class 'float'>:
Type of a is <class 'complex'>:
Type of a is <class 'bool'>:
Type of a is <class 'str'>:
Type of a is <class 'tuple'>:
Type of a is <class 'list'>:

In [77]:
#Write a Python program to test whether a number is within 100 of 1000 or 2000.

In [82]:
num = int(input())

if num > 1000 or num <= 2000:
  print(True)
else:
  print(False)

1000
True

In [83]:
num = int(input())

check = ((abs(1000-num)<=100) or (abs(2000-num)<=100))

print(check)

1000
True

Write a Python program to compute the future value of a specified principal amount, rate of interest, and a number of years.

The formula for future value with compound interest is FV = P(1 + r/n)^nt. FV = the future value; P = the principal; r = the annual interest rate expressed as a decimal; n = the number of times interest is paid each year; t = time in years.

Test Data : amt = 10000, int = 3.5, years = 7 Expected Output : 12722.792627665729

In [84]:
amount = float(input())
interest = float(input())
years = float(input())

fv = amount * ((1 + 0.01 * interest )) ** years
print(round(fv,2))

10000
3.5
7
12722.79

## **Operators in data types**

We will now explore each of the following operators in detail.
* Arithmetic operators: ➕➖✖️➗


* Assignment operators **=**

* Comparison operators: **==   !=   <   >   <=   >=**

* Logical operators: **🔍and🔍or🔍not**

* Identity operators: **✅ is  ❌is not**  

* Membership operators: ✅in❌not in

* Bitwise operators: **&|⊕~<< >>**

In [86]:
x = 3
y = 4

print(x+y)

print(x-y)

print(x*y)

print(x/y)

print(x//y)

print(x%y)

print(x**y)

7
-1
12
0.75
0
3
81


🎉 Let's do some math!

* 📐 First up, let's calculate the area of a square with sides that measure 5 cm. 🤔 How much space does this shape occupy?

* 🔍 Next, let's find the volume of a cube with sides that measure 12 cm. 📏 How much room does this shape take up?

* 🔢 Lastly, we'll find the quotient and remainder when we divide 10 by 4. 🧐 How many times does 4 fit into 10? What's left over?

In [88]:
area = 5**2
print(area)

volume = 12**3
print(volume)

quotient = 10//4
print(quotient)

remainder = 10%4
print(remainder)

25
1728
2
2

In [92]:
x = 3
y = 4


print(x==y)

print(x!=y)

print(x<y)

print(x>y)

print(x<=y)

print(x>=y)

False
True
True
False
True
False

📚 Let's practice some comparison operators! Here's a problem for you to solve:

🍎 The first basket contains 12 apples, and the second basket contains 8 apples. Use comparison operators to answer the following questions:

* Is the number of apples in the first basket greater than the number of apples in the second basket?

* Is the number of apples in the second basket less than or equal to the number of apples in the first basket?
* Is the number of apples in the first basket equal to the number of apples in the second basket?
* Is the number of apples in the second basket not equal to the number of apples in the first basket?

Use comparison operators (i.e. >, >=, <, <=, ==, !=) in your code to answer each question. Good luck! 🍎🍏

In [93]:
basket1 = 12
basket2 = 8

print(basket1>basket2)

print(basket2<=basket1)

print(basket1==basket2)

print(basket2!=basket1)

True
True
False
True

🌴 Are you ready for your trip to Goa? 🌊 You've got two bags with you, and you need to make sure they're light enough to board the flight. Let's use some logical operators to find out if you can make it on time!

🧳 One of your bags weighs 15 kg, while the other one weighs only 5 kg. 💪 You know you can pack a lot more in the heavier bag, but you have to be careful not to go over the weight limit.

👮‍♀️ The airline has a strict policy that both of your bags must weigh less than 13 kg each. Can you make it on the flight? Let's use logical operators to find out!

In [94]:
bag1 = 15
bag2 = 5

(bag1<=13) and (bag2<=13)

False

In [ ]:
print("Sorry, You can not go through!")

Sorry, You can not go through!

🧳 Uh oh, it looks like we have a problem with our bags! But don't worry, the crew has offered a solution. 😊

👨‍✈️ They've said that if at least one of our bags weighs less than 6 kg, we can still board the flight this time. 🛫

🤔 Are we ready for the trip or not? Let's use some logical operators to find out!

In [95]:
(bag1<6) or (bag2<6)

True

## 4. Assignment Operators 📝
These are used for assigning values to variables.

📝 Assignment operators in Python are used to assign values to variables. They combine the assignment operator (=) with one of the arithmetic or bitwise operators to perform an operation and then assign the result to the variable on the left-hand side. Here are some examples:

In [96]:
x=5
print(x)

x += 3
print(x)

x -= 3
print(x)

x *= 3
print(x)

x /= 3
print(x)

x %= 3
print(x)

x **= 3
print(x)

5
8
5
15
5.0
2.0
8.0

## 5.Membership operators:

The membership operators in Python are "in" and "not in". These operators are used to test if a value is a member of a sequence, such as a string, list, or tuple.

🔎 Here's an example: Imagine you have a string called "sentence" that contains a sentence. You can use the "in" operator to check if a particular word is present in the sentence.

In [99]:
sentence = "The quick brown fox jumps over the lazy dog"
print("fox" in sentence)   # True
print("cat" in sentence)   # False

True
False

In [100]:
print("fox" not in sentence)   # True
print("cat" not in sentence)   # False

False
True

📚 Imagine that you're a book lover with a collection of lot of books. 🤓

🔎 You need to find out how many of your books contain the word "Python" in them. 🐍

In [103]:
books = [
    "Python for Data Science Handbook by Jake VanderPlas",
    "The Pragmatic Programmer by Andrew Hunt and David Thomas",
    "Python Machine Learning by Sebastian Raschka",
    "The Alchemist by Paulo Coelho",
]

In [114]:
count = 0

for book in books:
  if "Python" in book:
   count += 1
print(count)

2

In [115]:
list1 = [1,2,3]
list2 = [4,5,6]

list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6]

In [116]:
list1 = [1,2,3]
list2 = [4,5,6]

list3 = list1 * list2
print(list3)

TypeError: can't multiply sequence by non-int of type 'list'

In [118]:
list1 = [1,2,3]

new_list = list1 * 3
new_list

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [119]:
tup1 = (1,2,3)
tup2 = (1,2,3)
tup3 = (1,2,3)

tup = tup1 + tup2 + tup3

print(tup)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [120]:
tup1 = (1,2,3)
tup1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [121]:
string1 = "Tilak"
string2 = "R"

string3 = string1 + " " + string2
print(string3)

Tilak R

Dictionary
🔍 To manipulate dictionaries in Python, there are various methods and operators available. Here are some commonly used ones:

Removing elements: Use the del keyword with the key to remove an element from the dictionary.

In [122]:
my_dict = {"apple": 2, "banana": 3, "cherry": 4}
del my_dict["banana"]
print(my_dict) # Output: {"apple": 2, "cherry": 4}

{'apple': 2, 'cherry': 4}

In [126]:
my_dict = {"apple": 2, "banana": 3, "cherry": 4}
del my_dict["apple"]
print(my_dict)

{'banana': 3, 'cherry': 4}

In [127]:
my_dict = {"apple": 2, "banana": 3, "cherry": 4}
my_dict.pop("apple")
print(my_dict)

{'banana': 3, 'cherry': 4}

In [128]:
my_dict = {"apple": 2, "banana": 3, "cherry": 4}
new_dict = my_dict.copy()
print(new_dict)

{'apple': 2, 'banana': 3, 'cherry': 4}

In [132]:
clear = new_dict.clear()
print(clear)

None

🔍 Sets in Python are unordered collection of unique elements.

🧰 Sets have their own set of methods and operators. The most common operators used with sets include:

* **Union operator (|)**, returns a new set with all the elements from both sets
* **Intersection operator (&)**, returns a new set with only the common elements between both sets
* **Difference operator (-)**, returns a new set with only the elements from the first set that are not in the second set

and many more...

In [134]:
set_a = {1, 2, 3}
set_b = {2, 3, 4}

print(set_a | set_b) # union

print(set_a & set_b) #intersection

print(set_a - set_b) #difference

print(set_b - set_a) #difference

{1, 2, 3, 4}
{2, 3}
{1}
{4}

Write a Python program to find the length of a set.

In [138]:
sent = eval(input())

length = len(sent)

print(length)

{1, 2, 'find', 'look', 'seek'}
5

Write a Python program to add a key to a dictionary.

In [141]:
dictt = {'name': 'xyz', 'age': 27, 'salary': 50000}
new_dict = dictt.update({'manager': 'abc'})
print(dictt)

{'name': 'xyz', 'age': 27, 'salary': 50000, 'manager': 'abc'}

In [142]:
dicts = eval(input())
new_word = eval(input())

new_dicts = dicts.update(new_word)
print(dicts)

{'name': 'xyz', 'age': 27, 'salary': 50000}
{'manager': 'abc'}
{'name': 'xyz', 'age': 27, 'salary': 50000, 'manager': 'abc'}

Remove item from tuple

Write a Python program to remove an item from a tuple.

In [146]:
tup = list(('a', 'b', 'c', 'd', 'e','f','g'))
new_tup = tup.remove('f')
print(tup)

['a', 'b', 'c', 'd', 'e', 'g']

In [147]:
new_tup = tup[:5] + tup[6:]
new_tup

['a', 'b', 'c', 'd', 'e']