<a href="https://colab.research.google.com/github/Tilak46-R/CODING-PRACTICE/blob/main/AB_CAT_PREP_1ST_MODULE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **DATA TYPES PRACTICE**

Kids on a picnic decided to play fun game and find the area of circle they are sitting on. Assume the radius of circle to be some floating numbers.

In [5]:
pi = 3.14159
radius =float(input())
Area = (pi * radius**2)
print(round(Area,2))

1.1
3.8

Isha is assigned a task to calculate the total amount at the end of the day. Provided with a list, write a Python program for Isha to sum all the elements in the list.

In [8]:
lst = [1,2,-8]
summation = sum(lst)
print(summation)

-5

Write a Python program to count the repeated word given by user in that string.

In [10]:
sentence = input()
word = input()

rep = sentence.lower()

dup = rep.count(word)
print(dup)

Book Dance Draw Dance is dance for dance paper dance
dance
5

In [11]:
sentence = "Book Dance Draw Dance is dance for dance paper dance"
len(sentence)

52

In [12]:
sentence.count('e')

6

#### **Finding 'e's in the Bookshelves**



In your pursuit of expanding your knowledge of Python, you come across a bookstore in search of books on the subject.

There, you meet a salesperson who is also a Python enthusiast!!

The salesperson presents you with a challenge - they have a list of five books related to Python and if you can write a program that finds the number of occurance of letter 'e' , the store will give you a free book of your choice. 😀

Are you ready to accept the challenge? 💪

In [13]:
books = "Python for Everyone, Learn Python the Hard Way, Python Crash Course , Starting Out with Python, Automate the Boring Stuff with Python"

In [16]:
books.count('e')

7

In [14]:
rep_books = books.lower()
rep_books

'python for everyone, learn python the hard way, python crash course , starting out with python, automate the boring stuff with python'

In [15]:
rep_books.count('e')

8

In [24]:
books_counts = books.lower().count('a')
print("The total num of a's in the given sentence is " + str(books_counts))
print(f"The total num of a's in the given sentence is {books_counts}")

The total num of a's in the given sentence is 7
The total num of a's in the given sentence is 7

###  Creating a String
* To create a string in Python you need to use either single quotes or double quotes. For example:

In [27]:
name = 'Hi my name is Tilak'

In [25]:
print('I'm fine. How are you?')

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-25-f13a909ef891>, line 1)

In [26]:
print('I\'m fine. How are you?')

I'm fine. How are you?

###Immutability:

Strings are Immutable

Lists are Mutable

Tuples are immutable

Dictionaries are mutable

In [29]:
MY_LIST = [1,2,3,4,5]
print(MY_LIST)

[1, 2, 3, 4, 5]

In [30]:
MY_LIST.append(6)

In [31]:
MY_LIST

[1, 2, 3, 4, 5, 6]

In [32]:
lst = ['Tilak',True,25,3.14159]

In [33]:
lst

['Tilak', True, 25, 3.14159]

MUTABILITY OF LISTS

In [35]:
lst[0]= 'Tilak R'
lst

['Tilak R', True, 25, 3.14159]

📊👨‍🎓👩‍🎓🔢📝👩‍🏫
We have the marks scored by different students in a class stored in a list.
The teacher wants to calculate the mean score to assess the overall performance of the class.
Do you think you'll be able to help her out?

Functions you just learned like sum() and length() are just the tools you need right now.💡💡💡

In [36]:
marks = [87, 76, 95, 68, 80, 83, 92, 74, 79, 89]

mean_marks = sum(marks)/len(marks)

print(mean_marks)

82.3

## Tuples and Dictionaries

In [37]:
tup = (1,2,3,4)

In [38]:
tupp = ("Tilak",True,25,3.14159)
tupp

('Tilak', True, 25, 3.14159)

In [39]:
tupp[0] = 'Tilak R'

TypeError: 'tuple' object does not support item assignment

Tuples are immutables

In [40]:
len(tupp)

4

In [41]:
sum(tup)

10

In [50]:
# Make a dictionary with {} and : to signify a key and a value
marvel_dict = {'Name':'Thor','Place':'Asgard','Weapon' : 'Hammer', 1:2, 3 : 'power', 'alibies' : ['Ironman','Captain America'], 'abc' : {1:2, 4:5}}

marvel_dict['abc']

{1: 2, 4: 5}

Mutability of Dictionaries

In [51]:
customer = {
    "id": 1234,
    "name": "John Smith",
    "email": "john@example.com"
}


customer["email"] = 'Johnsmith@gmail.com'

print(customer)

{'id': 1234, 'name': 'John Smith', 'email': 'Johnsmith@gmail.com'}

In [52]:
customer.keys()

dict_keys(['id', 'name', 'email'])

In [53]:
customer.values()

dict_values([1234, 'John Smith', 'Johnsmith@gmail.com'])

In [54]:
customer.items()

dict_items([('id', 1234), ('name', 'John Smith'), ('email', 'Johnsmith@gmail.com')])

This is how John has been storing the data at his fruit shop. He adds the name of the fruit each time it's sold, as follows:

['Mango','Mango','Pineapple','Pineapple','Apple','Mango','Banana','Banana', 'Pineapple','Apple','Pineapple'] 🤦

But, this method is not very efficient or easy to read.

Forunately you were there at the shop to grab some apples yourselves, and you saw what John was doing.

You can help him out to structure the data by using dictionaries. How?

In [56]:
#Here's John's list:
fruits=['Mango','Mango','Pineapple','Pineapple','Apple','Mango','Banana','Banana','Pineapple','Apple','Pineapple']

In [57]:
fruit_dict = {}

fruit_dict['Mango'] = fruits.count('Mango')
fruit_dict['Pineapple'] = fruits.count('Pineapple')
fruit_dict['Banana'] = fruits.count('Banana')

fruit_dict

{'Mango': 3, 'Pineapple': 4, 'Banana': 2}

Write a Python program to check whether the given strings are palindromes or not. Return True otherwise False.

In [60]:
word = input()

word = word[::-1]

print(word == word[::-1])

malayalam
True

In [62]:
#Write a Python program to accept a string from the user and display n characters from right of string.

string = String Slicing in Python
new_str = string[-1:-6]

SyntaxError: invalid syntax (<ipython-input-62-4391f3aff63b>, line 3)

In [64]:
string = input("enter the string")
n = int(input("enter the number of characters from right:"))
new_str = string[-n:]
print("The last", n, "characters of the sting are:", new_str)

enter the stringString Slicing in Python
enter the number of characters from right:5
The last 5 characters of the sting are: ython

Just to sum up two list

In [65]:
lst_orig = [1, 2, 3, 4, 5, 6, 7, 8, 9]
lst_modify=[10, 20, 30]

merged_lsit = lst_orig + lst_modify

print(merged_lsit)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30]

Given two lists as inputs, write a python program to add the elements of the second list on to the first list at the index location 1.

In [68]:
lst_orig = [1, 2, 3, 4, 5, 6, 7, 8, 9]
lst_modify=[10, 20, 30]
length = len(lst_modify) + 1

lst_orig[1:length] = lst_modify

print(lst_orig)

[1, 10, 20, 30, 5, 6, 7, 8, 9]