<a href="https://colab.research.google.com/github/Tilak46-R/CODING-PRACTICE/blob/main/ABCAT_2ND_MODULE_PREP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Write a program to find the factorial of a number using recursion.**

In [ ]:
def factorial(n):
  if n==0:
    return 1
  else:
    return n * factorial(n-1)

In [ ]:
factorial(5)

120

### **Write a program to find the fibonacci of a number using recursion.**

In [ ]:
def fibonacci(n):
  if n<=1:
    return n
  else:
    return fibonacci(n-1) + fibonacci(n-2)

num = int(input("Enter the number"))

if num<=0:
  print("Enter a positive number")
else:
  print("Fibonacci series")
  for i in range(num):
    print(fibonacci(i))

Enter the number30
Fibonacci series
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229

In [ ]:
fibonacci(1)

1

In [ ]:
fibonacci(7)

13

### **Write a program to find the sum of natural numbers up to n using recursion.**

In [ ]:
def sum_natural_number(n):
  if n==1:
    return 1
  else:
    return n + sum_natural_number(n-1)

num = int(input("Enter a number: "))

if num<=0:
  print("Enter a positive number")
else:
  print("The number is", num, "and its sum is:", sum_natural_number(num))

Enter a number: 33
The number is 33 and its sum is: 561

In [ ]:
sum_natural_number(33)

561

### **Write a program to find all possible permutations of a given string using recursion.**

In [ ]:
def permutations(string,left,right):
  if left == right:
    print("".join(string))
  else:
    for i in range(left,right+1):
      string[left],string[i]=string[i],string[left]
      permutations(string,left+1,right)
      string[left],string[i]=string[i],string[left]

str = input("enter the string")

permutations(list(str), 0, len(str)-1)

enter the stringaba
aba
aab
baa
baa
aba
aab

### **Write a program to find the nth term in the Tribonacci sequence using recursion.**

In [ ]:
def tribonacci(n):
  if n ==0 or n==1:
    return 0
  elif n==2:
    return 1
  else:
    return tribonacci(n-1) + tribonacci(n-2) + tribonacci(n-3)

In [ ]:
tribonacci(7)

13

In [18]:
import random

dice = random.randint(1,6)
print(dice)

1

Write a Python program that checks whether every even index contains an even number and every odd index contains an odd number of a given list.

In [19]:
def odd_even_position(nums):
    return all(nums[i]%2==i%2 for i in range(len(nums)))

nums = eval(input())
print(odd_even_position(nums))

[2, 1, 4, 3, 6, 7, 6, 3]
True

Write a Python program to compute the cumulative sum of numbers in a given list. Note: Cumulative sum = sum of itself + all previous numbers in the said list.

Example 1:

In [20]:
lst = eval(input())

sum=0

for i in range(len(lst)):
   sum = sum + lst[i]
print(sum)

[10, 20, 30, 40, 50, 60, 7]
217

Difference between 2 lists
Hard
Write a Python program to calculate the difference between the two lists.

In [29]:
list1 = eval(input())
list2= eval(input())

list3 = list(set(list1) - set(list2))
list4=list(set(list2) - set(list1))

list5 = list3 + list4
print(list5)

[1, 3, 5, 7, 9]
[1, 2, 4, 6, 7, 8]
[9, 3, 5, 8, 2, 4, 6]