<a href="https://colab.research.google.com/github/Tilak46-R/CODING-PRACTICE/blob/main/ABCAT_2ND_MODULE_PREP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Write a program to find the factorial of a number using recursion.**

In [ ]:
def factorial(n):
  if n==0:
    return 1
  else:
    return n * factorial(n-1)

In [ ]:
factorial(5)

120

### **Write a program to find the fibonacci of a number using recursion.**

In [ ]:
def fibonacci(n):
  if n<=1:
    return n
  else:
    return fibonacci(n-1) + fibonacci(n-2)

num = int(input("Enter the number"))

if num<=0:
  print("Enter a positive number")
else:
  print("Fibonacci series")
  for i in range(num):
    print(fibonacci(i))

Enter the number30
Fibonacci series
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229

In [ ]:
fibonacci(1)

1

In [ ]:
fibonacci(7)

13

### **Write a program to find the sum of natural numbers up to n using recursion.**

In [ ]:
def sum_natural_number(n):
  if n==1:
    return 1
  else:
    return n + sum_natural_number(n-1)

num = int(input("Enter a number: "))

if num<=0:
  print("Enter a positive number")
else:
  print("The number is", num, "and its sum is:", sum_natural_number(num))

Enter a number: 33
The number is 33 and its sum is: 561

In [ ]:
sum_natural_number(33)

561

### **Write a program to find all possible permutations of a given string using recursion.**

In [ ]:
def permutations(string,left,right):
  if left == right:
    print("".join(string))
  else:
    for i in range(left,right+1):
      string[left],string[i]=string[i],string[left]
      permutations(string,left+1,right)
      string[left],string[i]=string[i],string[left]

str = input("enter the string")

permutations(list(str), 0, len(str)-1)

enter the stringaba
aba
aab
baa
baa
aba
aab

### **Write a program to find the nth term in the Tribonacci sequence using recursion.**

In [ ]:
def tribonacci(n):
  if n ==0 or n==1:
    return 0
  elif n==2:
    return 1
  else:
    return tribonacci(n-1) + tribonacci(n-2) + tribonacci(n-3)

In [ ]:
tribonacci(7)

13

In [ ]:
import random

dice = random.randint(1,6)
print(dice)

1

Write a Python program that checks whether every even index contains an even number and every odd index contains an odd number of a given list.

In [ ]:
def odd_even_position(nums):
    return all(nums[i]%2==i%2 for i in range(len(nums)))

nums = eval(input())
print(odd_even_position(nums))

[2, 1, 4, 3, 6, 7, 6, 3]
True

Write a Python program to compute the cumulative sum of numbers in a given list. Note: Cumulative sum = sum of itself + all previous numbers in the said list.

Example 1:

In [ ]:
lst = eval(input())

sum=0

for i in range(len(lst)):
   sum = sum + lst[i]
print(sum)

[10, 20, 30, 40, 50, 60, 7]
217

In [ ]:
def sum(lst):
  return [sum(lst[:i+1]) for i in range(len(lst))]

Difference between 2 lists
Hard
Write a Python program to calculate the difference between the two lists.

In [ ]:
list1 = eval(input())
list2= eval(input())

list3 = list(set(list1) - set(list2))
list4=list(set(list2) - set(list1))

list5 = list3 + list4
print(list5)

[1, 3, 5, 7, 9]
[1, 2, 4, 6, 7, 8]
[9, 3, 5, 8, 2, 4, 6]

In a maths competition, the Armstrong award would be presented to the one who would first tell the Armstrong number among all given numbers. Thus, write a program for Sam in Python to help him won the award.

What is Armstrong Number?

It is a number which is equal to the sum of cube of its digits. For eg: 153, 370 etc.

Let's take 153 for an example

First calculate the cube of its each digits

1^3 = (1 * 1 * 1) = 1

5^3 = (5 * 5 * 5) = 125

3^3= (3 * 3 * 3) = 27

Now add the cube

1+125+27 = 153

It means 153 is an Armstrong Number.

In [ ]:
arm = int(input())

num1 = int(input())
num2 = int(input())
num3= int(input())

cube = (num1)**3 + (num2)**3 +(num3)**3
print(cube)

if cube ==arm:
    print("Number is Armstrong ")
else:
    print("Number is not an Armstrong")

370
3
7
0
370
Number is Armstrong

In [ ]:
numbers = eval(input())

for num in numbers:
    if num == 237:
        print(num)
        break;
    elif num%2==0:
        print(num)

[386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958,743, 527]
386
462
418
344
236
566
978
328
162
758
918
237

In [ ]:
lst = eval(input())
count = 0

for num in lst:
    if num == 4:
        count = count + 1

[1, 4, 6, 7, 4]

Write a Python program that checks whether every even index contains an even number and every odd index contains an odd number of a given list.

In [ ]:
lst = [2, 1, 4, 3, 6, 7, 6, 3]

for i in range(len(lst)):
  if lst[i]%2== i%2:
    print("True")
  else:
    print("False")

True
True
True
True
True
True
True
True

In [ ]:
def odd_even_position(num):
  return all(num[i]%2==i%2 for i in range(len(lst)))

In [ ]:
lst = [2, 1, 4, 3, 6, 7, 6, 3]
odd_even_position(lst)

True

In [ ]:
lst = [1, 1, 4, 3, 6, 7, 6, 3]
odd_even_position(lst)

False

Sum of two equals k
Hard
Given a list of numbers and a number k, write a Python program to check whether the sum of any two numbers from the list is equal to k or not. For example, given [1, 5, 11, 5] and k = 16, return true since 11 + 5 is 16.

In [ ]:
def check_sum(nums, k):
    for i in range(len(nums)):
        for j in range(i+1, len(nums)):
            if nums[i] + nums[j] == k:
                return True
    return False

lst = eval(input())
n = int(input())
print(check_sum(lst, n))

[12, 5, 0, 5]
10
True

In [ ]:
lst = eval(input())

lst = str(lst)

new_list = lst.split(",")

new_list = list(new_list)

new_lst = sum(new_list)

print(new_lst)

[1, 5, 12, 2]

RecursionError: maximum recursion depth exceeded

In [ ]:
lst = eval(input())
result = ""

for num in lst:
  result += str(num)
print(result)

[1, 5, 12, 2]
15122

Write a Python program to get numbers divisible by fifteen from a list using an anonymous function.

In [ ]:
lst = eval(input())
new_list = []
for num in lst:
  if num%15==0:
    new_list.append(num)
print(new_list)

[45, 55, 60, 37, 100, 105, 220]
[45, 60, 105]

In [ ]:
num_list = eval(input())
result = list(filter(lambda x : (x%15==0), num_list))
result

[45, 55, 60, 37, 100, 105, 220]

[45, 60, 105]

Write a Python program to compute the product of a list of integers (without using a for loop).

In [ ]:
nums = eval(input())

prod = nums[0]*nums[1]*nums[2]
print(prod)

[10, 20, 30]
6000

In [ ]:
from functools import reduce
nums = eval(input())
result = reduce((lambda x,y : x*y), nums)
result

[10, 20, 30]

6000

Write a Python program to convert GPAs to letter grades according to the following table:

GPAs Grades 4.0: A+ 3.7: A 3.4: A- 3.0: B+ 2.7: B 2.4: B- 2.0: C+ 1.7: C 1.4: C- below: F

In [ ]:
def grades(grade):
    if grade >= 4.0:
        return 'A+'
    elif grade >= 3.7:
        return 'A'
    elif grade >= 3.4:
        return 'A-'
    elif grade >= 3.0:
        return 'B+'
    elif grade >= 2.7:
        return 'B'
    elif grade >= 2.4:
        return 'B-'
    elif grade >= 2.0:
        return 'C+'
    elif grade >= 1.7:
        return 'C'
    elif grade >= 1.4:
        return 'C-'
    else:
        return "Fail"


nums = float(input())
print(grades(nums))

1.5
C-

Write a Python program that reads two integers representing a month and day and prints the season for that month and day.

In [ ]:
month = input()

if month in ('December','January', 'February'):
  print("Season is Winter")
elif month in ('March','April', 'May'):
  print("Season is Spring")
elif month in ('June','July', 'August'):
  print("Season is Summer")
elif month in ('September', 'October', 'November'):
  print("Season is Autumn")
else:
  print('Invalid month!')

April
Season is Spring

Write a Python program to convert a list of characters into a string.

In [ ]:
s = eval(input())
res = ""

for char in s:
    res+=char
print(res)

['p','y','t','h','o','n']
python

Write a Python program to calculate the median from a list of numbers.

In [ ]:
def cal_median(nums):
    nums.sort()
    n=len(nums)
    m=n//2
    if n%2==0:
        return(nums[m-1] + nums[m])/2
    else:
        return nums[m]

lst = eval(input())
print(cal_median(lst))

[1,2,3,4,5]
3

LINEAR SEARCH

In [ ]:
def linear_search(arr,target):
  for i in range(len(arr)):
    if arr[i] == target:
      return i

  return -1


arr = [1,2,3,4,5,6,7]
target = 7

result = linear_search(arr,target)

if result != -1:
  print(f"The target element {target} is found as {result} index")
else:
  print("Target not in array")

The target element 7 is found as 6 index

In [ ]:
def recursive_linear_search(arr,target,start_index=0):
  if start_index >= len(arr):
    return -1

  elif arr[start_index] == target:
    return start_index

  return recursive_linear_search(arr,target,start_index+1)

# Example usage:
arr = [4, 2, 7, 1, 9, 5]
target_element = 7

result = recursive_linear_search(arr,target_element)

if result != -1:
  print(f"The target element {target_element} is found at {result} index")
else:
  print("Target not found")

The target element 7 is found at 2 index

In [ ]:
def count_paths(row,col,m,n):
  if row == m-1 and col == n-1:
    return 1

  if row>=m or col >=n:
    return 0

  right_path_count = count_paths(row, col + 1, m, n)
  down_path_count = count_paths(row + 1, col, m, n)

  return right_path_count + down_path_count


# Example usage:

m, n = 3, 3  # Dimensions of the grid
total_paths = count_paths(0, 0, m, n)

print(f"The total number of paths in a {m}x{n} grid is: {total_paths}")

The total number of paths in a 3x3 grid is: 6

In [ ]:
def factorial(n):
    if n== 0:
        return 1
    else:
        return n * factorial(n-1)

# Example usage:
result = factorial(5)
print(result)

120

Subsequences:

In computer science, a subsequence is a sequence that can be derived from the original sequence by deleting some or none of the elements without changing the order of the remaining elements. For example, if we have a sequence [1, 2, 3], some of its subsequences are [1, 2], [2, 3], [1, 3], [1, 2, 3], [] (the empty sequence), and so on.

In the given problem, we are asked to find the sum of all possible subsequences of a given sequence. The total number of possible subsequences of a sequence is 2^n, where n is the length of the sequence. Therefore, finding the sum of all possible subsequences of a sequence can be a challenging problem, and the recursive algorithm described above is one way to solve it using recursion.

In [ ]:
def subsequence_sum(seq):
    if not seq:
        return 0
    else:
        return subsequence_sum(seq[1:]) + seq[0] + subsequence_sum(seq[1:])

In [ ]:
subsequence_sum([1,2])

5

In [ ]:
subsequence_sum([1,2,3])

17

In [ ]:
def interleavings(s1, s2):
    if not s1:
        yield s2
    elif not s2:
        yield s1
    else:
        for i in range(len(s1)):
            for j in range(len(s2)):
                yield s1[:i] + s2[j] + s1[i:] if i > 0 else s2[j] + s1
                for res in interleavings(s1[i:], s2[j+1:]):
                    yield s1[:i] + s2[j] + res if i > 0 else s2[j] + res

# example usage
s1 = 'bc'
s2 = 'ef'
print(list(interleavings(s1, s2)))

['ebc', 'efbc', 'efbc', 'ebfc', 'ebfc', 'fbc', 'fbc', 'bec', 'befc', 'befc', 'bfc', 'bfc']

### **Determine whether a string is a palindrome or not**

In [ ]:
def is_palindrome(s):

  s = s.lower()
  s = ''.join(c for c in s if c.isalnum())
  return s == s[::-1]

s1 = "MALAYALAM"
print(is_palindrome(s1))
s2 = "CIVIC"
print(is_palindrome(s2))

True
True

In [ ]:
def triplet(arr,target):
  n = len(arr)
  arr.sort()

  for i in range(n-2):
    left = i + 1
    right = n-1
    while left <right:
      curr_sum = arr[i] + arr[left] + arr[right]
      if curr_sum == target:
        return (arr[i],arr[left],arr[right])

      elif curr_sum<target:
        left += 1

      else:
        right+=1

  return None

In [ ]:
arr = [1,2,3,5,6,4]
target = 10
print(triplet(arr,target))

(1, 3, 6)

### **Remove adjacent duplicate characters from a string Using Recursion**

In [2]:
def remove_adjacent_duplicates(s):


  result = []

  for c in s:
    if not result or c!= result[-1]:
      result.append(c)
  return "".join(result)

# example usage
s = "abbaca"
print(remove_adjacent_duplicates(s))

abaca

### **Find all strings of a given length containing balanced parentheses**

In [4]:
def balanced_parentheses(n):

  if n==0:
    return['']

  result = []
  for i in range(n):
    for left in balanced_parentheses(i):
            for right in balanced_parentheses(n-i-1):
                result.append('({}){}'.format(left, right))
  return result

In [5]:
n = 3
print(balanced_parentheses(n))

['()()()', '()(())', '(())()', '(()())', '((()))']