<a href="https://colab.research.google.com/github/Tilak46-R/CODING-PRACTICE/blob/main/for_loops_and_while_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CODE - 1**

In [ ]:
toppings = ["pepperoni", "mushrooms", "olives", "sausage"]
for topping in toppings:
  print(topping)

pepperoni
mushrooms
olives
sausage

In [ ]:
new_toppings = ["bacon", "peppers", "pineapple"]

for topping in new_toppings:
  toppings.append(topping)

print(toppings)

['pepperoni', 'mushrooms', 'olives', 'sausage', 'bacon', 'peppers', 'pineapple']

# **CODE** - **2**

Write a program that takes a string as input and counts the number of vowels (a, e, i, o, u) in the string using a for loop.

In [ ]:
word = input("enter the word")
count = 0

for char in word:
  if char in 'aeiouAEIOU':
    count+=1
    print("The number of vowels are", count)
  else:
    count+=1
    print("The number of consonants are", count)

enter the wordJai shree ram
The number of consonants are 1
The number of vowels are 2
The number of vowels are 3
The number of consonants are 4
The number of consonants are 5
The number of consonants are 6
The number of consonants are 7
The number of vowels are 8
The number of vowels are 9
The number of consonants are 10
The number of consonants are 11
The number of vowels are 12
The number of consonants are 13

# **CODE** - **3**

Imagine you're organizing a chess tournament üèÜ. Your task is to bring together the players whose name start with 'A' or 'B' in one team, and 'C' or 'D' in another team.

In Python, you can nest 'for' loops to do this. Let's take a closer look at how nested loops work using our chess tournament scenario:

In [ ]:
tournament = [['Alice', 'Charlie'], ['Bob', 'Diana']]
team1 = []
team2 = []
for group in tournament:
  for player in group:
    if player[0] == "A" or player[0] == "B":
      team1.append(player)
    else:
      team2.append(player)
print(f"Team1 palyers are {team1}\nTeam2 players are {team2}:")

Team1 palyers are ['Alice', 'Bob']
Team2 players are ['Charlie', 'Diana']:

# **CODE** - **4**

You're given a nested list of numbers, and your task is to count the number of odd and even numbers in the list. To achieve this, you'll use a nested loop and some basic conditional statements.

List- numbers = [
    [2, 5, 11, 20, 8],
    [9, 4, 15, 28, 17],
    [1, 6, 21, 18, 3],
    [10, 13, 25, 33, 30],
    [14, 7, 16, 19, 22]
]

In [ ]:
numbers = [
    [2, 5, 11, 20, 8],
    [9, 4, 15, 28, 17],
    [1, 6, 21, 18, 3],
    [10, 13, 25, 33, 30],
    [14, 7, 16, 19, 22]
]

even_count = 0
odd_count = 0

for sublist in numbers:
  for number in sublist:
    if number % 2 == 0:
      even_count+=1
    else:
      odd_count+=1
print(f"The number of even numbers are {even_count}\nThe number of odd numbers are {odd_count}")

The number of even numbers are 12
The number of odd numbers are 13

# **CODE** - **5**

Imagine you are a teacher and you need to calculate the average grade for a class of 25 students. You have a list of grades for each student and you need to loop through the list to calculate the average grade for the class.

Here's an example of how to use a for loop with a list to calculate the average grade for the class:

In [ ]:
grades = [90, 85, 95, 80, 75, 85, 90, 85, 70, 80,
          90, 75, 80, 85, 90, 95, 80, 75, 85, 90,
          85, 90, 75, 80, 85]

total_grade = 0

for grade in grades:
  total_grade += grade

average_grade = (total_grade) / len(grades)
print(f"The average grade of the class is {average_grade}")

The average grade of the class is 83.8

# **CODE** - **6**

In [ ]:
library = {
    'To Kill a Mockingbird': 'Harper Lee',
    '1984': 'George Orwell',
    'The Catcher in the Rye': 'J.D. Salinger',
    'The Great Gatsby': 'F. Scott Fitzgerald'
}

for book in library:
  print(book)


for author in library.values():
  print(author)

To Kill a Mockingbird
1984
The Catcher in the Rye
The Great Gatsby
Harper Lee
George Orwell
J.D. Salinger
F. Scott Fitzgerald

# **CODE - 7**

Write a program that calculates the total revenue for each day of the week using a loop and prints the results.