<a href="https://colab.research.google.com/github/Tilak46-R/CODING-PRACTICE/blob/main/Interview_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ARMSTRONG NUMBER**

In [ ]:
i=0
result=0
n=int(input())
number1=n
temp=n
while n!=0:
  n = (n//10)
  i = i+1
while number1!=0:
  n = (number1%10)
  result = result + pow(n,i)
  number1 = (number1//10)
if temp == result:
  print("Armstrong")
else:
  print("Not an Armstrong")

153
Armstrong

In [ ]:
def is_armstrong(number):
  num_digits = len(str(number))
  armstrong_sum=0
  temp=number

  while temp>0:
    digit = temp%10
    armstrong_sum+=digit**num_digits
    temp//=10

  if armstrong_sum == number:
    return True
  else:
    return False

T = int(input("enter the test cases"))

for t in range(T):
  test_number =int(input())
  if is_armstrong(test_number):
    print("It is an Armstrong number")
  else:
    print("It is not an Armstong number")

enter the test cases3
153
It is an Armstrong number
345
It is not an Armstong number
761
It is not an Armstong number

In [ ]:
def is_armstrong(number):
  num_digits = len(str(number))
  sum  = 0
  temp = number

  while temp>0:
    digit = temp%10
    sum += digit**num_digits
    temp//=10

  if sum==number:
    return True
  else:
    return False

T = int(input())

for t in range(T):
  test_num = int(input())
  if is_armstrong(test_num):
    print('Number is an Armstrong')
  else:
    print('It is not an Armstrong')

3
153
Number is an Armstrong
235
It is not an Armstrong
761
It is not an Armstrong

In [ ]:
def is_armstrong(number):
  num_digits = len(str(number))
  sum = 0
  temp = number

  while temp>0:
    digit = temp%10
    sum += digit**num_digits
    temp//=10

  if sum==number:
    return True
  else:
    return False

T = int(input())

for t in range(T):
  test_sum = int(input())
  if is_armstrong(test_sum):
    print("It is an Armstrong number")
  else:
    print("It is not an armstrong number")

3
153
It is an Armstrong number
225
It is not an armstrong number
235
It is not an armstrong number

In [ ]:
def is_armstrong(number):
  num_string = len(str(number))
  sum = 0
  temp = number

  while temp>0:
    digit = temp%10
    sum += digit**num_string
    temp//=10
  if sum==number:
    return True
  else:
    return False

T= int(input("num of test cases"))

for t in range(T):
  test_num = int(input())
  if is_armstrong(test_num):
    print("it is an armstrong number")
  else:
    print("not an armstrong number")

num of test cases3
153
it is an armstrong number
156
not an armstrong number
256
not an armstrong number

In [ ]:
def is_armstrong(number):
  num_digits = len(str(number))
  sum = 0
  temp = number

  while temp>0:
    digit = temp%10
    sum += digit**num_digits
    temp//=10

  if sum == number:
    return True
  else:
    return False

T = int(input())

for t in range(T):
  test_num = int(input())
  if is_armstrong(test_num):
    print("Armstrong")
  else:
    print("Not an Armstrong")

3
153
Armstrong
523
Not an Armstrong
254
Not an Armstrong

In [ ]:
def bubble_sort(arr):
  n = len(arr)

  for i in range(n):
    for j in range(0,n-i-1):
      if arr[j] > arr[j+1]:
        arr[j],arr[j+1]=arr[j+1],arr[j]
arr = list(eval(input()))
bubble_sort(arr)

for i in range(len(arr)):
  print("sorted array is",arr[i])

[25,13,56,78,2]
sorted array is 2
sorted array is 13
sorted array is 25
sorted array is 56
sorted array is 78

In [ ]:
def merge_sort(arr):
  if len(arr)<=1:
    return arr

  mid = len(arr)//2
  left = arr[:mid]
  right = arr[mid:]

  left =merge_sort(left)
  right = merge_sort(right)

  i=j=0
  merged_arr = []

  while i<len(left) and j<len(right):
    if left[i]<right[j]:
      merged_arr.append(left[i])
      i+=1
    else:
      merged_arr.append(right[j])
      j+=1
  merged_arr+=left[i:]
  merged_arr+=right[j:]
  return merged_arr

arr = [2,12,1,56,89]
merge_sort(arr)

[1, 2, 12, 56, 89]

In [ ]:
def is_armstrong(number):
  num = len(str(number))
  sum = 0
  temp = number
  while temp>0:
    digit = temp%10
    sum += digit ** num
    temp//=10

  if sum==number:
    return True
  else:
    return False

T = int(input("enter the test cases"))

for t in range(T):
  test_num = int(input())
  if is_armstrong(test_num):
    print("It is a Armstrong Number")
  else:
    print("it is not an armstrong number")

enter the test cases3
153
It is a Armstrong Number
756
it is not an armstrong number
225
it is not an armstrong number

In [ ]:
i = 0
result = 0
n = int(input())
number1 = n
temp = n

while n!=0:
  n = (n//10)
  i=i+1
while number1!=0:
  n = (number1%10)
  result = result + pow(n,i)
  number1 = (number1//10)

if result==temp:
  print("armstrong")
else:
  print("not an armstrong")

153
armstrong

In [ ]:
def linear_search(data,target):
  if len(data)<1:
    return data
  elif data[i]==target:
    return i
  return-1

data = [12,66,23,78,6]
target = 66
index = linear_search(data,target)

if index!=-1:
  print(f"Target {target} value found at index {index}")
else:
  print(f"Traget value not found")

Traget value not found

In [ ]:
i = 0
result=0
n=int(input())
number1 = n
temp = n

while n !=0:
  n = (n//10)
  i = i+1
while number1!=0:
  n = (number1%10)
  result = result + pow(n,i)
  number1 = number1//10

if temp==result:
  print("Arm")
else:
  print("Not")

153
Arm

In [ ]:
i = 0
result = 0
n = int(input())
number1 = n
temp = n
while n!=0:
  n = n//10
  i=i+1
while number1!=0:
  n=number1%10
  result = result + pow(n,i)
  number1 = number1//10
if result==temp:
  print("A")
else:
  print("B")

156
B

In [ ]:
a = (1%10)
a

1

In [ ]:


# Python program to check if the number is an Armstrong number or not
num = int(input("Enter a number: "))  # Take input from the user

# Initialize the sum
sum = 0

# Find the sum of the cube of each digit
temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10

# Display the result
if num == sum:
    print(f"{num} is an Armstrong number")
else:
    print(f"{num} is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

In [ ]:
def count_letters(word):

    letter_count = {}
    for letter in word:
        if letter.isalpha():
            letter = letter.lower()
            letter_count[letter] = letter_count.get(letter, 0) + 1
    return letter_count

# Try out here
word = "Custom Function"
result = count_letters(word)
print(result)

{'c': 2, 'u': 2, 's': 1, 't': 2, 'o': 2, 'm': 1, 'f': 1, 'n': 2, 'i': 1}

In [ ]:
def count_letters(word):
  letter_count = {}
  for letter in word:
    if letter.isalpha():
      letter = letter.lower()
      letter_count[letter] = letter_count.get(letter,0) + 1
  return letter_count


word = 'Programming Language'
print(count_letters(word))

{'p': 1, 'r': 2, 'o': 1, 'g': 4, 'a': 3, 'm': 2, 'i': 1, 'n': 2, 'l': 1, 'u': 1, 'e': 1}

In [ ]:
def count_letters(word):
  letter_count = {}
  for letter in word:
    if letter.isalpha():
      letter = letter.lower()
      letter_count[letter]=letter_count.get(letter,0)+1
  return letter_count

In [ ]:
def count_letters(word):
  letter_count = {}
  for letter in word:
    if letter.isalpha():
      letter = letter.lower()
      letter_count[letter]=letter_count.get(letter,0)+1
  return letter_count


word = 'Custom Functions'
result = count_letters(word)
result

{'c': 2, 'u': 2, 's': 2, 't': 2, 'o': 2, 'm': 1, 'f': 1, 'n': 2, 'i': 1}

In [ ]:
def count_letters(word):
  letter_count = {}

  for letter in word:
    if letter.isalpha():
      letter = letter.lower()
      letter_count[letter] = letter_count.get(letter,0)+1
  return letter_count


word = 'Ramachari'
result  = count_letters(word)
result

{'r': 2, 'a': 3, 'm': 1, 'c': 1, 'h': 1, 'i': 1}

In [ ]:
word = input()
letter_count = {}

for letter in word:
  if letter in letter_count:
    letter_count[letter]+=1
  else:
    letter_count[letter]==1
print(letter_count)

custom function

KeyError: 'c'

In [ ]:
string = input()

char_count = {}

for char in string:
  if char in char_count:
    char_count[char]+=1
  else:
    char_count[char]=1
print(char_count)

custom functions
{'c': 2, 'u': 2, 's': 2, 't': 2, 'o': 2, 'm': 1, ' ': 1, 'f': 1, 'n': 2, 'i': 1}

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
scores = [85, 92, 78]
for name, score in zip(names, scores):
    print(f"{name}: {score}")

Alice: 85
Bob: 92
Charlie: 78

In [ ]:
A= pow(0,1)
A

0

In [ ]:
i=0
result=0
n =int(input())
number1=n
temp=n
while n!=0:
  n = (n//10)
  i = i + 1
while number1 !=0:
  n=(number1%10)
  result = result + pow(n,i)
  number1 = number1//10
if temp == result:
  print("Num is Armstrong")
else:
  print("Num is not Armstrong")

153
Num is Armstrong

Pattern

In [ ]:
n = int(input())

for i in range(1,n+1):
  for j in range(1,i+1):
    print("*", end = "")
  print()

5
*
**
***
****
*****

In [ ]:
n = int(input())

for i in range(0,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

5

*
**
***
****
*****

In [ ]:
n = int(input())

for i in range(0,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

6

*
**
***
****
*****
******

In [ ]:
n = int(input())

for i in range(0,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

5

*
**
***
****
*****

In [ ]:
n  = int(input())

for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

5
*
**
***
****
*****

In [ ]:
n = int(input())

for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

size = 5
for i in range(size):
  for j in range(1,size-i):
    print(" ",end="")
  for k in range(0,i+1):
    print("*",end="")
  print()

5
*
**
***
****
*****
    *
   **
  ***
 ****
*****

In [ ]:
size = 5

for i in range(size):
  for j in range(1,size-i):
    print(" ",end="")
  for k in range(0,i+1):
    print("*",end="")
  print()

    *
   **
  ***
 ****
*****

In [ ]:
size = 5

for i in range(size):
  for j in range(1,size-i):
    print(" ",end="")
  for k in range(0,i+1):
    print("*",end="")
  print()

    *
   **
  ***
 ****
*****

In [ ]:
size = 5

for i in range(size):
  for j in range(1,size-i):
    print(" ",end="")
  for k in range(0,i+1):
    print("*",end="")
  print()

    *
   **
  ***
 ****
*****

In [ ]:
def pattern(n):
  for i in range(1,n+1):
    for j in range(1,i+1):
      print(str(i)*2,end="")
    print()


n = int(input())
pattern(n)

5
11
2222
333333
44444444
5555555555

In [ ]:
size = 5

for i in range(size):
  for j in range(1,size-i):
    print(" ",end="")
  for k in range(0,i+1):
    print("*",end="")
  print()

    *
   **
  ***
 ****
*****

In [ ]:
size = 5
#upward triangle
for i in range(size):
  for j in range(1,size-i):
    print(" ",end="")
  for k in range(0,i+1):
    print("*",end="")
  print()

#downward triangle
for i in range(size):
  for j in range(size-i):
    print("*", end = "")
  print()

    *
   **
  ***
 ****
*****
*****
****
***
**
*

In [ ]:
def extract_vowels(input_str):
  vowels = 'aeiouAEIOU'
  Extracted_vowels = ''

  for ch in input_str:
    if ch in vowels:
      Extracted_vowels+=ch
    return extract_vowels

T = int(input())

for t in range(T):
  test_words = input()
  result = extract_vowels(test_words)
  print(result)

<function extract_vowels at 0x7cd8fe0c5090>

KeyboardInterrupt: Interrupted by user

In [ ]:
def vowels(input_str):
  Extracted_vowels = ''
  for ch in input_str:
    if ch in 'aeiouAEIOU':
      Extracted_vowels+=ch
  return Extracted_vowels

T = int(input())

for t in range(T):
  test_word = input()
  result = vowels(test_word)
  print(result)

5
almabetter
aaee
pavan
aa
run
u
nisha
ia
teju

In [ ]:
input_str = input()
length = len(input_str)

for i in range(length):
  for j in range(1,length-i):
    print(""*(length-i-1)+input_str[:i+1])
  for k in range(0,i+1):
    print("*",end="")
  print()
for i in range(length):
  for j in range(length-i):
    print(""*(length-i-1)+input_str[:i+1])
  print()

testing
t
t
t
t
t
t
*
te
te
te
te
te
**
tes
tes
tes
tes
***
test
test
test
****
testi
testi
*****
testin
******
*******
t
t
t
t
t
t
t

te
te
te
te
te
te

tes
tes
tes
tes
tes

test
test
test
test

testi
testi
testi

testin
testin

testing

In [ ]:
size = 5

for i in range(size):
  for j in range(1,size-i):
    print(" ",end="")
  for k in range(0,i+1):
    print("*",end="")
  print()

    *
   **
  ***
 ****
*****

In [ ]:
size = 5

for i in range(size):
  for j in range(size):
    if i==j or i+j==size-1:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*   *
 * *
  *
 * *
*   *

In [ ]:
size = 5

for i in range(size):
  for j in range(size):
    if i==j or i+j == size-1:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*   *
 * *
  *
 * *
*   *

In [ ]:
n = int(input())

for i in range(1,n+1):
  for j in range(1,i+1):
    print("*", end="")
  print()

5
*
**
***
****
*****

In [ ]:
size = 5
for i in range(size):
  for j in range(size):
    if i==j or i+j==size-1:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*   *
 * *
  *
 * *
*   *

In [ ]:
size = 5
for i in range(size):
  for j in range(1,size-i):
    print(" ", end = "")
  for k in range(0, i+1):
    print("*", end = "")
  print()

    *
   **
  ***
 ****
*****

In [ ]:
size = int(input())

for i in range(size):
  for j in range(1,size-i):
    print(" ",end="")
  for k in range(0,i+1):
    print("*",end="")
  print()

    *
   **
  ***
 ****
*****

In [ ]:
n = int(input())
for i in range(1,n+1):
  for k in range(1,i+1):
    print("*",end="")
  print()

5
*
**
***
****
*****

In [ ]:
size=5
for i in range(size):
  for j in range(1,size-i):
    print(" ",end="")
  for k in range(0,i+1):
    print("*",end="")
  print()

    *
   **
  ***
 ****
*****

In [ ]:
size = 5
for i in range(size):
  for j in range(size):
    if i==j or i+j==size-1:
      print("*", end = "")
    else:
      print(" ", end = "")
  print()

*   *
 * *
  *
 * *
*   *

In [ ]:
size = 5
for i in range(size):
  for j in range(size):
    if i==j or i+j == size-1:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*   *
 * *
  *
 * *
*   *

In [ ]:
size = 5
for i in range(size):
  for j in range(size):
    if i==j or i+j==size-1:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*   *
 * *
  *
 * *
*   *

In [ ]:
size = 5
for i in range(size):
  for j in range(size-i):
    print("*", end = "")
  print()

*****
****
***
**
*

In [ ]:
size = 5
for i in range(size):
  for j in range(i):
    print(" ", end = "")
  for j in range(size,i,-1):
    print("*", end = "")
  print()

*****
 ****
  ***
   **
    *

# **BUBBLE SORT**

In [ ]:
def bubble_sort(arr):
  n=len(arr)

  for i in range(n):
    for j in range(0,n-i-1):
      if arr[j]>arr[j+1]:
        arr[j],arr[j+1]=arr[j+1],arr[j]

arr = [5,2,7,3,1,8,6,4]
bubble_sort(arr)
print("Sorted array is:")
for i in range(len(arr)):
  print("%d" %arr[i])

Sorted array is:
1
2
3
4
5
6
7
8

In [ ]:
def bubble_sort(arr):
  n = len(arr)

  for i in range(n):
    for j in range(0,n-i-1):
      if arr[j]>arr[j+1]:
        arr[j],arr[j+1]=arr[j+1],arr[j]

arr = [89,25,12,1,68]
bubble_sort(arr)

for i in range(len(arr)):
  print("sorted array",arr[i])

sorted array 1
sorted array 12
sorted array 25
sorted array 68
sorted array 89

In [ ]:
def bubble_sort(arr):
  n= len(arr)

  for i in range(n):
    for j in range(0,n-i-1):
      if arr[j]>arr[j+1]:
        arr[j],arr[j+1]=arr[j+1],arr[j]

arr = [55,25,89,12,45]
bubble_sort(arr)
for i in range(len(arr)):
  print("sorted array is",arr[i])

sorted array is 12
sorted array is 25
sorted array is 45
sorted array is 55
sorted array is 89

In [ ]:
def bubble_sort(arr):
  n = len(arr)

  for i in range(n):
    for j in range(0,n-i-1):
      if arr[j]>arr[j+1]:
        arr[j],arr[j+1]=arr[j+1],arr[j]

arr = [25,1,36,12,58,76]
bubble_sort(arr)

for i in range(len(arr)):
  print("sorted array",arr[i])

sorted array 1
sorted array 12
sorted array 25
sorted array 36
sorted array 58
sorted array 76

In [ ]:
def bubble_sort(arr):
  n = len(arr)

  for i in range(n):
    for j in range(0,n-i-1):
      if arr[j]>arr[j+1]:
        arr[j],arr[j+1]=arr[j+1],arr[j]


arr = [80,15,20,30,60,78,12]
bubble_sort(arr)
for i in range(len(arr)):
  print(arr[i])

12
15
20
30
60
78
80

In [ ]:
def bubble_sort(arr):
  n = len(arr)

  for i in range(n):
    for j in range(0,n-i-1):
      if arr[j]>arr[j+1]:
        arr[j],arr[j+1]=arr[j+1],arr[j]

arr = [80,15,20,30,60,78,12]
bubble_sort(arr)
for i in range(len(arr)):
  print("sorted array",arr[i])

sorted array 12
sorted array 15
sorted array 20
sorted array 30
sorted array 60
sorted array 78
sorted array 80

# **MERGE SORT**

In [ ]:
def merge_sort(arr):
    # Check if the input array is only one element or empty, if so, return it
    if len(arr) <= 1:
        return arr

    # Divide the array into two halves
    mid = len(arr) // 2
    left_half = arr[:mid]
    right_half = arr[mid:]

    # Recursively call merge_sort on each half
    left_half = merge_sort(left_half)
    right_half = merge_sort(right_half)

    # Merge the two sorted halves
    i = j = 0  # Initialize two counters for the left and right halves
    merged_arr = []  # Create an empty list to store the merged array
    while i < len(left_half) and j < len(right_half):
        # Compare the first element of each half and add the smaller one to the merged array
        if left_half[i] < right_half[j]:
            merged_arr.append(left_half[i])
            i += 1
        else:
            merged_arr.append(right_half[j])
            j += 1

    # Append any remaining elements from the left or right halves to the merged array
    merged_arr += left_half[i:]
    merged_arr += right_half[j:]

    return merged_arr

arr = [64, 25, 12, 22, 11]
sorted_arr = merge_sort(arr)
print("Sorted array is:", sorted_arr)

Sorted array is: [11, 12, 22, 25, 64]

In [ ]:
def merge_sort(arr):
  if len(arr)<=1:
    return arr

  mid = len(arr)//2
  left = arr[:mid]
  right = arr[mid:]

  left = merge_sort(left)
  right = merge_sort(right)

  i=j=0
  merged_arr = []

  while i < len(left) and j < len(right):
    if left[i]< right[j]:
      merged_arr.append(left[i])
      i+=1
    else:
      merged_arr.append(right[j])
      j+=1

  merged_arr+=left[i:]
  merged_arr+=right[j:]
  return merged_arr

arr = [95,12,56,8,36,5]
merge_sort(arr)

[5, 8, 12, 36, 56, 95]

In [ ]:
def merge_sort(arr):
  if len(arr)<=1:
    return arr

  mid = len(arr)//2
  left_half = arr[:mid]
  right_half = arr[mid:]

  left_half = merge_sort(left_half)
  right_half = merge_sort(right_half)

  i = j = 0
  merged_arr=[]

  while i < len(left_half) and j < len(right_half):
    if left_half[i]<right_half[j]:
      merged_arr.append(left_half[i])
      i+=1
    else:
      merged_arr.append(right_half[j])
      j+=1

  merged_arr+=left_half[i:]
  merged_arr+=right_half[j:]
  return merged_arr

arr = [25,12,56,5,89]
merge_sort(arr)

[5, 12, 25, 56, 89]

In [ ]:
def merge_sort(arr):
  if len(arr)<=1:
    return arr

  mid = len(arr)//2
  left = arr[:mid]
  right = arr[mid:]

  left = merge_sort(left)
  right = merge_sort(right)

  i = j = 0

  merged_arr = []

  while i <len(left) and j < len(right):
    if left[i]<right[j]:
      merged_arr.append(left[i])
      i+=1
    else:
      merged_arr.append(right[j])
      j+=1

  merged_arr += left[i:]
  merged_arr += right[j:]
  return merged_arr

arr = [78,56,12,59,3,8]
merge_sort(arr)

[3, 8, 12, 56, 59, 78]

In [ ]:
def harmonic_sum(n):
  if n<=2:
    return 1
  else:
    return 1/n + harmonic_sum(n-1)

n = int(input())
harmonic_sum(n)

5

1.7833333333333332

In [ ]:
def sum(n):
  if n<=2:
    return 1
  else:
    return 1 / n + sum(n-1)

sum(7)

2.092857142857143

In [ ]:
def harmonic_sum(n):
  if n<=2:
    return 1
  else:
    return 1 / n + harmonic_sum(n-1)

harmonic_sum(7)

2.092857142857143

In [ ]:
def harmonic_sum(n):
  if n<=2:
    return 1
  else:
    return 1 / n + harmonic_sum(n-1)

harmonic_sum(7)

2.092857142857143

In [ ]:
def harmonic_sum(n):
  if n<=2:
    return 1
  else:
    return 1 / n + harmonic_sum(n-1)
harmonic_sum(5)

1.7833333333333332

In [ ]:
def merge_sort(arr):
      if len(arr)<=1:
        return arr

      mid = len(arr)//2
      left_half = arr[:mid]
      right_half = arr[mid:]

      left_half = merge_sort(left_half)
      right_half = merge_sort(right_half)

      i = j = 0
      merged_arr = []

      while i <len(left_half) and  j < len(right_half):
        if left_half[i]<right_half[j]:
          merged_arr.append(left_half[i])
          i+=1
        else:
          merged_arr.append(right_half[j])
          j+=1

      merged_arr+=left_half[i:]
      merged_arr+=right_half[j:]
      return merged_arr

arr = [64, 25, 12, 22, 11]
sorted_arr = merge_sort(arr)
print("sorted array is", sorted_arr)

sorted array is [11, 12, 22, 25, 64]

In [ ]:
def merged_sort(arr):
    if len(arr)<=1:
      return arr

    mid = len(arr)//2
    left_half = arr[:mid]
    right_half = arr[mid:]

    left_half = merged_sort(left_half)
    right_half = merged_sort(right_half)

    i = j = 0
    merged_arr = []

    while i < len(left_half) and j < len(right_half):
      if left_half[i]< right_half[j]:
        merged_arr.append(left_half[i])
        i+=1
      else:
        merged_arr.append(right_half[j])
        j+=1

    merged_arr+=left_half[i:]
    merged_arr+=right_half[j:]
    return merged_arr

arr = [64, 25, 12, 22, 11]
sorted_array = merged_sort(arr)
print("sorted array",sorted_array)

sorted array [11, 12, 22, 25, 64]

In [ ]:
def merged_sort(arr):
  if len(arr)<=1:
    return arr

#divide the array into two parts
  mid = len(arr)//2
  left_half=arr[:mid]
  right_half = arr[mid:]
#recursively call them
  left_half=merged_sort(left_half)
  right_half = merged_sort(right_half)

#initialise i and j as 0
  i = j = 0
#create a emplty list called merged_list
  merged_arr = []
#apply while condition
  while i < len(left_half) and j<len(right_half):

      if left_half[i]<right_half[j]:

        merged_arr.append(left_half[i])
        i+=1

      else:

        merged_arr.append(right_half[j])

        j+=1

#now append the remaining elements of i and j to merged_arr
  merged_arr += left_half[i:]
  merged_arr+=right_half[j:]

  return merged_arr

#call the function and check for its functionality
arr = [64, 25, 12, 22, 11]
sorted_arr = merged_sort(arr)
print("Sorted array is:", sorted_arr)

Sorted array is: [11, 12, 22, 25, 64]

In [ ]:
def merge_sort(arr):
  if len(arr)<=1:
    return arr

  mid = len(arr)//2
  left_half = arr[:mid]
  right_half = arr[mid:]

  left_half = merge_sort(left_half)
  right_half = merge_sort(right_half)

  i = j = 0
  merged_arr = []

  while i <len(left_half) and j<len(right_half):
    if left_half[i]<right_half[j]:
      merged_arr.append(left_half[i])
      i+=1
    else:
      merged_arr.append(right_half[j])
      j+=1

  merged_arr += left_half[i:]
  merged_arr += right_half[j:]
  return merged_arr

arr = [64, 25, 12, 22, 11]
sorted_arr = merge_sort(arr)
sorted_arr

[11, 12, 22, 25, 64]

# **LINEAR SEARCH**

In [ ]:
def linear_search(data,target):
  for i in range(len(data)):
    if data[i]==target:
      return i
  return -1

data = eval(input())
target = int(input())
index = linear_search(data,target)

if index!= -1:
  print(f"Target value {target} is found at index {index}")
else:
  print("TARGET VALUE NOT FOUND")

[12,22,32,42,52]
22
Target value 22 is found at index 1

In [ ]:
def linear_search(data,target):
  for i in range(len(data)):
    if data[i]==target:
      return i
  return -1


data = eval(input("enter the values separated by space"))
target = int(input(("enter the target value")))

index = linear_search(data,target)

if index!=-1:
  print(f"Target {target} found at index {index}")
else:
  print(f"Target {target} not found")

enter the values separated by space[1,2,3,4,5]
enter the target value2
Target 2 found at index 1

In [ ]:
def linear_search(data,target):
  for i in range(len(data)):
    if data[i]==target:
      return i
  return -1

data = eval(input())
target = int(input())
index = linear_search(data,target)

if index!=-1:
  print(f"Target {target} found at index {index}")
else:
  print(f"Target not found at index")

[1,2,3,4,5]
3
Target 3 found at index 2

In [ ]:
def linear_search(data,target):
  for i in range(len(data)):
    if data[i]==target:
      return i
  return -1

data = eval(input())
target = int(input())
index = linear_search(data,target)

if index!=-1:
  print(f"Target {target} found at index {index}")
else:
  print(f"Target not found at index")

[1,2,3,4,5]
5
Target 5 found at index 4

In [ ]:
def linear_search(data,target):
  for i in range(len(data)):
    if data[i]==target:
      return i
  return -1

data = eval(input("enter the values separated by space"))
target = int(input(("enter the target value")))

index = linear_search(data,target)

if index!=-1:
  print(f"Target {target} found at index {index}")
else:
  print(f"Target not found")

enter the values separated by space[1,2,3,4,5]
enter the target value2
Target 2 found at index 1

In [ ]:
def linear_search(data,target):
  for i in range(len(data)):
    if data[i]==target:
      return i
  return -1

data = eval(input())
target = int(input())
index = linear_search(data,target)

if index != -1:
  print(f"Target {target} found at index {index}")
else:
  print("no target found")

[1,2,3,4,5]
2
Target 2 found at index 1

In [ ]:
def recursive_linear_function(data,target,start_idx = 0):
  if start_idx>len(data):
    return -1
  if data[start_idx]==target:
    return start_idx
  return recursive_linear_function(data,target,start_idx+1)

data = eval(input())
target = int(input())
index = recursive_linear_function(data,target)

if index != -1:
  print(f"Target {target} found at index {index}")
else:
  print("no target found")

[11,2,3,4,5,6]
5
Target 5 found at index 4

In [ ]:
def recursion_linear_search(arr,target,start_idx=0):
  if start_idx>len(arr):
    return -1
  if arr[start_idx] == target:
    return start_idx
  return recursion_linear_search(arr,target,start_idx+1)

arr = eval(input("enter the elements"))
target = int(input("enter the elements"))
result = recursion_linear_search(arr,target)

if result != -1:
  print(f"Target element {target} found at index {result}")
else:
  print("not found")

enter the elements[1,2,3,4,5]
enter the elements2
Target element 2 found at index 1

In [ ]:
def recursion(data,target,start_idx=0):
  if start_idx>len(data):
    return -1
  if data[start_idx] == target:
    return start_idx
  return recursion(data,target,start_idx+1)

data = eval(input())
target = int(input())
index = recursion(data,target)

if index!=-1:
  print(f"target {target} found at index {index}")
else:
  print(f"target not found")

[1,2,3,4,5]
5
target 5 found at index 4

## **Binary search**

In [ ]:
def binary_search(data,target):
  left = 0
  right = len(data)-1
  while left<=right:
    mid = (left+right)//2
    if data[mid]==target:
      return mid
    elif data[mid]<target:
      left = mid + 1
    else:
      right = mid - 1
  return -1

data = eval(input("enter the values"))
target = int(input("enter the value"))
result = binary_search(data,target)

if result!=-1:
  print(f"Target element {target} found at index no {result}")
else:
  print(f"Target value not found")

enter the values[1,2,3,4,5]
enter the value5
Target element 5 found at index no 4

In [ ]:
def binary(data,target):
  left =0
  right=len(data)-1

  while left<=right:
    mid = (left+right)//2
    if data[mid]==target:
      return mid
    elif data[mid]<target:
      left = mid+1
    else:
      right = mid-1
  return -1


data = eval(input("enter the values"))
target = int(input("enter the value"))
result = binary(data,target)

if result!=-1:
  print(f"target value {target} found at index {result}")
else:
  print(f"target value not found")

enter the values[1,2,3,4,5]
enter the value2
target value 2 found at index 1

Leap year

In [ ]:
def is_leap_year(year):
  return (year%4==0 and year %100 !=0) or (year % 400 ==0)

year_to_check = int(input())
result= is_leap_year(year_to_check)
print(f"The year {year_to_check} is a leap year : {result}")

2024
The year 2024 is a leap year : True

In [ ]:
def is_leap_year(year):
  return (year%4==0 and year%100 !=0) or (year%400==0)

year = int(input())
is_leap_year(year)

2024

True

In [ ]:
def is_leap_year(year):
  return (year%4==0 and year%100!=0) or (year%400==0)

is_leap_year(2025)

False

# **Reverse a number**

In [ ]:
def reverse_number(number):
  original_number = number
  reverse = 0

  for num in str(number):
    digit = number%10
    reverse = reverse*10 + digit
    number//=10
  print(f"Original number: {original_number}")
  print(f"Reverse: {reverse}")

reverse = 7894
reverse_number(reverse)

Original number: 7894
Reverse: 4987

In [ ]:
def reverse_num(number):
  original_number = number
  reverse = 0

  for num in str(number):
    digit = number%10
    reverse = reverse*10 + digit
    number//=10
  print(f"orginal number : {original_number}")
  print(f"reverse number is : {reverse}")

reverse = 7894
reverse_num(reverse)

orginal number : 7894
reverse number is : 4987

In [ ]:
def reverse_number(number):
  original_number = number
  reverse = 0

  for num in str(number):
    digit = number%10
    reverse = reverse * 10 + digit
    number //=10
  print(f"Original number",original_number)
  print(f"reverse number",reverse)

reverse = 7891
reverse_number(reverse)

Original number 7891
reverse number 1987

In [ ]:
def rverse_number(number):
  original_number = number
  reverse = 0

  for num in str(number):
    digit = number%10
    reverse = reverse*10 + digit
    number//=10
  print(f"original {original_number}")
  print(f"reverse is {reverse}")

reverse = 1234
rverse_number(reverse)

original 1234
reverse is 4321

In [ ]:
num = '1234'
new_list = list(str(num))
reverse_list =int(''.join(new_list[::-1]))
reverse_list

4321

## **USING SLICING**

In [ ]:
def reverse_number(number):
  num_list = list(str(number))
  reversed_num = int(''.join(num_list[::-1]))
  return reversed_num

original_num = 1234
reverse_number(original_num)

4321

In [ ]:
def reverse_number(number):
  num_list = list(str(number))
  rev_num = int(''.join(num_list[::-1]))
  return rev_num

original_number = 1234
reverse_number(original_number)

4321

In [ ]:
num = 1234
num_list = list(str(num))
rev_num = int(''.join(num_list[::-1]))
rev_num

4321

## **GCD**

In [ ]:
def computeGcd(x,y):
  if x>y:
    small = y
  else:
    small = x
  for i in range(1,small+1):
    if ((x%i==0)and(y%i==0)):
      gcd= i
  return gcd

In [ ]:
def computedGcd(x,y):
  if x>y:
    small = y
  else:
    small = x
  for i in range(1,small+1):
    if ((x%i==0) and (y%i==0)):
      gcd = i
  return gcd

computedGcd(100,144)

4

In [ ]:
x=60
y=48
computeGcd(x,y)

12

In [ ]:
def hcfnaive(a,b):
  if (b==0):
    return abs(a)
  else:
    return hcfnaive(b,a%b)

In [ ]:
hcfnaive(60,120)

60

## **NON REPEATING CHARCTERS**

In [ ]:
string = input("enter the strig")
char_count = {}

for char in string:
  if char in char_count:
    char_count[char]+=1
  else:
    char_count[char]=1

non_repeating = ""
for char in string:
  if char_count[char]==1:
    non_repeating+=char
print("Non repeating characters",non_repeating)

enter the strigprogramming
Non repeating characters poain

In [ ]:
string = input("enter the strig")
char_count = {}

for char in string:
  if char in char_count:
    char_count[char]+=1
  else:
    char_count[char]=1
print(char_count)

non_repaeating = ""

for char in string:
  if char_count[char]==1:
    non_repaeating += char
print(non_repaeating)

enter the strigprogramming
{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}
poain

# **HARMONIC SUM**

In [ ]:
def harmonic_sum(n):
  if n<2:
    return 1
  else:
    return 1 / n + harmonic_sum(n-1)

In [ ]:
harmonic_sum(7)

2.5928571428571425

In [ ]:
num = eval(input())
tar=int(input())
new=''
for i in range(len(num)):
  if num[i]<=tar:
    new.append(i)
    print(new)

[0, 12, 45, 3, 4923, 322, 105, 29, 15, 39, 55]
100

AttributeError: 'str' object has no attribute 'append'

Write a Python program to get the smallest number from a list.

In [ ]:
lst = eval(input())
print(min(lst))

[1,2,0,-8]
-8

In [ ]:
#Write a Python program to print a specified list after removing the 0th, 4th and 5thlst elements

lst = eval(input())
new_list = lst[1:4]
print(new_list)

['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
['Green', 'White', 'Black']

In [ ]:
lst = eval(input())
new_lst = lst[1:4]
new_lst

['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

['Green', 'White', 'Black']

In [ ]:
lst = eval(input())
new_lst = [x for (i,x) in enumerate(lst) if i not in (0,4,5)]
new_lst

['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

['Green', 'White', 'Black']

In [ ]:
lst = eval(input())
lst = [x for (i,x) in enumerate(lst) if i  not in (0,4,5)]
print(lst)

Write a Python program to append a list to the second list.

In [ ]:
lst1 = eval(input())
lst2 = eval(input())
lst3 = lst1+lst2
print(lst3)

[1, 2, 3, 0]
['Red', 'Green', 'Black']
[1, 2, 3, 0, 'Red', 'Green', 'Black']

Write a Python program to test whether all numbers of a list is greater than a certain number.

In [ ]:
lst = eval(input())
target = int(input())
new_lst = []

for num in lst:
  if num>target:
    new_lst.append(num)
print(new_lst)

[2, 3, 4, 5]
1
[2, 3, 4, 5]

In [ ]:
lst = eval(input())
target = int(input())
print(all(num>target for num in lst))

[2, 3, 4, 5]
1
True

Type of triangle

In [ ]:
side_a = int(input())
side_b = int(input())
side_c = int(input())

if side_a == side_b == side_c:
  print("equilateral triangle")
elif side_a == side_b or side_b == side_c or side_c == side_a:
  print("Isoceles triangle")
else:
  print("Scalene triangle")

5
5
4
Isoceles triangle

Write a Python program to convert month name to a number of days. Print 'Wrong month name' for incorrect input. Note: February has 28/29 days.

In [ ]:
month_name = input()

if month_name in ('january','march','may','july','august','october','december'):
  print("31 days")
elif month_name in ('april','june','september','november'):
  print("30 days")
elif month_name in ('februrary'):
  print("28/29 days")
else:
  print("Invalid month")

sunday
Invalid month

Write a Python program to add two objects if both objects are an integer type.

In [ ]:
a = input()
b = input()

if type(a) and type(b) == int:
  c= a + b
  print(c)
else:
  print("Input must be integers")

10
12.5
Input must be integers

In [ ]:
# your code goes here
def add_numbers(a, b):
   if not (isinstance(a, int) and isinstance(b, int)):
       return "Inputs must be integers!"
   return a + b

n1 = eval(input())
n2 = eval(input())
print(add_numbers(n1, n2))

10
12.5
Inputs must be integers!

Write a Python program to calculate the length of a string.

In [ ]:
string = input()
print(len(string))

datascience
11

In [ ]:
def n_number(lst,n):
  return lst[n-1::n]

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n = int(input())

print(n_number(lst,n))

2
[2, 4, 6, 8, 10]

Write a Python program to check whether an alphabet is a vowel or consonant.

In [ ]:
word = input()

for word in word:
  if word in 'aeiouAEIOU':
    print("Vowel")
  else:
    print("Consonant")

a
Vowel

Write a Python program to calculate a dog's age in dog's years. Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.

In [ ]:
age = int(input())

if age<= 2:
  dog_age = age*10.5
elif age>2:
  dog_age = ((age-2)*4 +21)
print(dog_age)

12
61

Write a Python program to find the biggest even number between two numbers inclusive.

In [ ]:
m = int(input())
n = int(input())

if m > n or (m==n and m %2==1):
  print("-1")
elif n %2 == 0:
  print(n)
else:
  print(n-1)

12
51
50

Write a Python program to remove None value from a given list. (Using list comprehension)

In [ ]:
number = eval(input())
number = [x for x in number if x is not None]
print(number)

[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
[12, 0, 23, -55, 234, 89, 0, 6, -12]

Write a Python program to find the indexes of all None items in a given list.

In [ ]:
number = eval(input())
result = [i for i in range(len(number)) if number[i] == None]
print(result)

[1, None, 5, 4,None, 0, None, None]
[1, 4, 6, 7]

In [ ]:
lst = eval(input())
result = [[i] for (i,x) in enumerate(lst) if number[i]==None]
result

[1, None, 5, 4,None, 0, None, None]

[[1], [4], [6], [7]]

In [ ]:
num = eval(input())

for i  in range(len(num)):
  if num[i]==None:
    print(i)

[1, None, 5, 4,None, 0, None, None]
1
4
6
7

Write a Python program to remove specific words from a given list. (Using List comprehension)

In [ ]:
obj = eval(input())
removal = eval(input())

for ob in obj:
  if ob not in removal:
    print(ob)

['red', 'green', 'blue', 'white', 'black', 'orange']
['white', 'orange']
red
green
blue
black

In [ ]:
obj = eval(input())
removal = eval(input())
removed_lst = [word for word in obj if word not in removal]
print(removed_lst)

['red', 'green', 'blue', 'white', 'black', 'orange']
['white', 'orange']
['red', 'green', 'blue', 'black']

Write a Python program to create a list taking alternate elements from a given list. (Using list comprehension)

In [ ]:
lst = eval(input())
new_lst = lst[0::2]
print(new_lst)

["red", "black", "white", "green", "orange"]
['red', 'white', 'orange']

In [ ]:
lst = eval(input())
new_lst = [item for item in lst[0::2]]
print(new_lst)

["red", "black", "white", "green", "orange"]
['red', 'white', 'orange']

Write a Python program to remove all elements from a given list present in another list. (Using list comprehension)

In [ ]:
lst1 = eval(input())
lst2 = eval(input())

result = [num for num in lst1 if num not in lst2]
result

[1,2,3,4,5,6,7,8,9,10]
[2,4,6,8]

[1, 3, 5, 7, 9, 10]

Write a Python program to calculate the length of a string.

In [ ]:
string = input()
print(len(string))

data science
12

Write a Python function that takes a list of words and return the longest word and the length of the longest one.

In [ ]:
def longest_word(lst):
  word_len = []
  for n in lst:
    word_len.append((len(n),n))
    word_len.sort()
  return word_len[-1][0],word_len[-1][1]

lst = list(input().split(''))
print(longest_word(lst))

king queen knight

ValueError: empty separator

In [ ]:
#Write a Python program to remove the nth index character from a nonempty string.

In [ ]:
def char_removal(strn,n):
  part_1 = strn[:n]
  part_2 = strn[n+1::]
  return part_1 + part_2

strn =input()
n=int(input())
print(char_removal(strn,n))

python
0
ython

Write a Python program to change a given string to a new string where the first and last chars have been exchanged.

In [ ]:
strn = input()
result = strn[-1:] + strn[1:-1] + strn[:1]
print(result)

python
nythop

Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing' then add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged.

In [ ]:
def add_string(str1):
  length = len(str1)
  if length > 2:
    if str1[-3:] == 'ing':
      str1 += 'ly'
    else: str1 += 'ing'

  return str1

str1 = input()
print(add_string(str1))

lying
lyingly

Write a Python program to count the number of characters (character frequency) in a string.

Example 1:

In [ ]:
string = input("enter the string")
char_count = {}

for char in string:
  if char in char_count:
    char_count[char]+= 1
  else:
    char_count[char] = 1
print(char_count)

enter the stringprogramming
{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

swap and merge two string

In [ ]:
def chars_mix_up(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]

  return new_a + ' ' + new_b

a = input()
b = input()
print(chars_mix_up(a,b))

code
debug
dede cobug

Write a Python program to get a string which is n (non-negative integer) copies of a given string.

In [ ]:
word = input()
n = int(input())
new_word =  n * word
print(new_word)

abc
2
abcabc

Write a Python function to get a string made of 4 copies of the last two characters of a specified string (length must be at least 2).

In [ ]:
string = input()
new_string = string[-2:]
print(new_string*4)

code
dededede

Write a Python program to count and display the vowels of a given text.

In [ ]:
def vowel(word):
  vowels = 'aeiouAEIOU'

  print(len([letter for letter in word if letter in vowels]))
  print([letter for letter in word if letter in vowels])

word = input()
vowel(word)

buzz words
2
['u', 'o']

Write a Python code to remove all characters except a specified character in a given string.

In [ ]:
def main(str1,str2):
  return ''.join([el for el in str1 if el==str2])

str1 = input()
str2 = input()
print(main(str1,str2))

american express
e
eee


Write a Python program to count Uppercase, Lowercase, special character and numeric values in a given string.

In [ ]:
def  count_chars(str1):
  upper,lower,number,special=0,0,0,0
  for i in range(len(str1)):
    if str1[i]>='A' and str1[i]<='Z':
      upper +=1
    elif str1[i]>='a' and str1[i]<='z':
      lower+=1
    elif str1[i]>='0' and str1[i]<='9':
      number+=1
    else:
      special+=1
  return upper,lower,number,special

str1 = input()
print(count_chars(str1))

AlmaBetter@datascience
(2, 19, 0, 1)

In [2]:
def count_letters(str1):
  upper,lower,number,special=0,0,0,0
  for i in range(len(str1)):
    if str1[i]>='A' and str1[i]<='Z':
      upper+=1
    elif str1[i]>='a' and str1[i]<='z':
      lower+=1
    elif str1[i]>='0' and str1[i]<='9':
      number+=1
    else:
      special+=1
  return upper,lower,number,special

str1 = input()
print(count_letters(str1))

AlmaBetter@datascience
(2, 19, 0, 1)

Print unique words in sorted form

In [ ]:
def unique_words(items):
  words = [word for word in items.split(',')]
  return ','.join(sorted(list(set(words))))

words = input()
print(unique_words(words))

data,analysis,model,decission
analysis,data,decission,model

In [4]:
def unique_words(items):
  words = [word for word in items.split(',')]
  return ','.join(sorted(list(set(words))))

words = input()
print(unique_words(words))

data,analysis,model,decission
analysis,data,decission,model

String swap cases

Write a Python program to swap cases of a given string.

In [ ]:
def swap_Case_string(str1):
  result_str = ""
  for item in str1:
    if item.isupper():
      result_str += item.lower()
    else:
      result_str +=item.upper()
  return result_str

str1 = input()
print(swap_Case_string(str1))

Python Excercise
pYTHON eXCERCISE

In [6]:
def swap_excercise(str1):
  result_str = ""

  for item in str1:
    if item.isupper():
      result_str += item.lower()
    else:
      result_str+=item.upper()
  return result_str

str1 = input()
print(swap_excercise(str1))

Python Excercise
pYTHON eXCERCISE

Write a Python program to remove item(s) from a given set.

In [ ]:
num = [44,83,20,72]
num.pop(3)
set(num)

{20, 44, 83}

In [7]:
num = [25,45,96,47]
num.pop(3)
set(num)

{25, 45, 96}

In [ ]:
num = set(eval(input()))
num.pop()
print(num)

44,83,20,72
{83, 44, 20}

In [ ]:
num = eval(input())
num.remove(72)
set(num)

[44,83,20,72]

{20, 44, 83}

In [8]:
num = eval(input())
num.remove(72)
set(num)

[44,83,20,72]

{20, 44, 83}

Write a Python program to create an intersection of sets.

In [ ]:
str1 = set( input().split(' '))
str2= set( input().split(' '))
for word in str1:
  if word in str2:
    print(''.join(word))

book paper draw dance
hike tour dance work
dance

In [ ]:
str1 = set( input().split(' '))
str2= set( input().split(' '))

set3 = str1 & str2
print(set3)

book paper draw dance
hike tour dance work
{'dance'}

Write a Python program to create a union of sets.

In [ ]:
str1 = set( input().split(' '))
str2= set( input().split(' '))

set3 = str1  | str2
print(set3)

21 34 68
83 21 90
{'83', '34', '21', '68', '90'}

Find max and min number of a set

In [ ]:
def min_max(set1):
  return max(set1),min(set1)

set1 = set(input().split(' '))
print(min_max(set1))

41 74 89 90 53 66 73
('90', '41')

Write a Python program to find the length of a set.

In [ ]:
def find_length(set1):
  return len(set1)

set1 = set(input().split(' '))
print(find_length(set1))

1 2 find look seek
5

In [ ]:
def add_val(dct,val):
  dct.update(val)
  print(dct)

dct =dict(eval(input()))
val =dict(eval(input()))
add_val(dct,val)

{'name': 'xyz', 'age': 27, 'salary': 50000}
{'manager': 'abc'}
{'name': 'xyz', 'age': 27, 'salary': 50000, 'manager': 'abc'}

Write a Python program to check whether a given key already exists in a dictionary.

In [ ]:
def is_key_present(dct,val):
    if val in dct:
      print("key present")
    else:
      print("key absent")

dct = eval(input())
val = int(input())
is_key_present(dct,val)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
9
key absent

Write a Python program to iterate over dictionaries using for loops.

In [ ]:
def iterate_over(dictn):
  for dict_key,dict_values in dictn.items():
    print(dict_key,'=>',dict_values)

dct = dict(eval(input()))
iterate_over(dct)

{'john': 170, 'kem':172, 'sam': 168, 'milli': 158}
john => 170
kem => 172
sam => 168
milli => 158

Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form {x: x*x}

In [ ]:
def gen_num(num):
  d = dict()

  for i in range(1,n+1):
    d[i] = i*i
  print(d)

n = int(input())
gen_num(n)

4
{1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
def gen_num(num):
  d=dict()

  for i in range(1,n+1):
    d[i]=i*i
  print(d)

n = int(input())
gen_num(n)

4
{1: 1, 2: 4, 3: 9, 4: 16}

Write a Python script to merge two Python dictionaries.

In [ ]:
def merge_dict(d1,d2):
  d = d1.copy()
  d.update(d2)
  print(d)

d1 = dict(eval(input()))
d2 = dict(eval(input()))
merge_dict(d1,d2)

{'a': 100, 'b': 200}
{'x': 300, 'y': 200}
{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [ ]:
def merge_dict(d1,d2):
  d=d1.copy()
  d.update(d2)
  print(d)

d1 = dict(eval(input()))
d2 = dict(eval(input()))
merge_dict(d1,d2)

{'a': 100, 'b': 200}
{'x': 300, 'y': 200}
{'a': 100, 'b': 200, 'x': 300, 'y': 200}

Write a Python program to sum all the items in a dictionary.

In [ ]:
def sum_dict(d1):
  return sum(d1.values())

d1 = dict(eval(input()))
sum_dict(d1)

{'data1':100,'data2':-54,'data3':247}

293

In [ ]:
def map_list(l1,l2):
  dic = dict(zip(l1,l2))
  return dic


l1 = list(input().split(' '))
l2 = list(input().split(' '))
map_list(l1,l2)

1 2 3 4
1 4 9 16

{'1': '1', '2': '4', '3': '9', '4': '16'}

Write a Python program to remove duplicates from Dictionary

In [ ]:
def  duplicte_removal(dct1):
  result = {}

  for key,value in dct1.items():
    if value not  in result.values():
      result[key]=value
  return result


dct1 = dict(eval(input()))
duplicte_removal(dct1)

{'name': 'xyz', 'age': 27, 'salary': 50000, 'manager': 'xyz'}

{'name': 'xyz', 'age': 27, 'salary': 50000}

Write a Python program to convert a tuple to a string.

In [ ]:
def tup_to_string(tup):
  string = ''.join(tup)
  return string

tup = tuple(input().split(','))
tup_to_string(tup)

e,x,e,r,c,i,s,e

'exercise'

Write a Python program to find the frequency of a given item(string or int) in a tuple.

In [ ]:
def frequency(tup,n):
  result =  tup.count(n)
  return result

tup = tuple(input().split(","))
n = input()
print(frequency(tup,n))

(2, 4, 5, 6, 2, 3, 4, 4, 7)
4
0

In [ ]:
def  frequency(tup,n):
  count = tup.count(n)
  return count

tup = tuple(input().split(','))
n = input()
print(frequency(tup,n))

Write a Python program to check whether an element exists within a tuple.

In [ ]:
def is_exist(tup,item):
  print(item in tup)

tup = tuple(input().split(','))
item = input()
is_exist(tup,item)

w,3,r,e,c,o,u,r,c,e,s
c
True

In [ ]:
def remove(tup,val):
  listx = list(tup)
  listx.remove(val)
  tup = tuple(listx)
  return tup

tup = tuple(input().split(','))
val = input()
remove(tup,val)

a,b,c,d,e,f,g
f

('a', 'b', 'c', 'd', 'e', 'g ')

In [ ]:
tup = eval(input())

for el in tup:
  result = list(el)
  print(result)

(1, 2), (2, 3), (3, 4)
[1, 2]
[2, 3]
[3, 4]

In [ ]:
def convert(tup):
  result = [list(el) for el in tup]
  return result

tup = eval(input())
print(convert(tup))

(1, 2), (2, 3), (3, 4)
[[1, 2], [2, 3], [3, 4]]

In [ ]:
#Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [ ]:
def multiple(num):
  for i in range(1,11):
    print(num ,'x' ,i, '=', num*i)

num = int(input())
multiple(num)

7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Write a Python program to calculate the sum and average of n integer numbers (input from the user). Input 0 to finish.

In [ ]:
count = 0
sum = 0.0
number = 1

while number != 0:
        number = int(input(""))
        sum = sum + number
        count += 1

if count == 0:
        print("Input some numbers")
else:
        print("Average and Sum of the above numbers are:", sum / (count-1), sum)

15
16
12
0
Average and Sum of the above numbers are: 14.333333333333334 43.0

In [ ]:
count = 0.0
sum=0.0
number=1.0

while number!=0:
  number = int(input())
  sum = sum + number
  count+=1

if count==0:
  print("Invalid numbers")
else:
  print("Average and sum of numbers are", sum/(count-1),sum)

15
16
12
0
Average and sum of numbers are 14.333333333333334 43.0

Words of Prime Importance
Easy
In a test, students are supposed to write all the words in a passage whose length is a prime number. So, write a Python program to find all such words in a sentence/passage.

In [ ]:
strs = input()
new_str = strs.split(' ')
result = [word for word in new_str if len(word) in (1,3,5,7)]
print(' '.join(result))

The quick brown fox jumps over the lazy dog.
The quick brown fox jumps the

In [ ]:
def test(strs):
    return " ".join(strs for strs in strs.split() if is_prime(len(strs)))
def is_prime(n):
    return n > 1 and all(n % j for j in range(2, int(n ** 0.5) + 1))
strs = input()
print(test(strs))

The quick brown fox jumps over the lazy dog.
The quick brown fox jumps the

In [ ]:
strs = input()
new_strs = strs.split("")

for i in range(new_strs):
  if new_strs == new_strs[::-1]:
    print(new_strs):
  else:
    new_strs[i],new_strs[:-1]

In [ ]:
def diamond(input_str):
  length = len(input_str)

  for i in range(length):
    print(''*(length-i-1)+input_str[:i+1])
  for i in range(length-2,-1,-1):
    print(''*(length-i-1)+input_str[:i+1])
  print()



input_str = input()
result = diamond(input_str)
result

testing
t
te
tes
test
testi
testin
testing
testin
testi
test
tes
te
t

In [ ]:
def print_diamond(rows):
  for i in range(1,rows+1):
    print(""*(rows-i)+"*"*i)
  for i in range(rows-1,0,-1):
    print(""*(rows-i)+"*"*i)

rows = 5
print_diamond(rows)

*
**
***
****
*****
****
***
**
*

In [ ]:
size = 5

for i in range(size):
  for j in range(1,size-i):
    print(" ",end="")
  for k in range(1,i+1):
    print("*",end="")
  print()
for i in range(size):
  for j in range(1,size-i):
    print("*",end="")
  print()

   *
  **
 ***
****
****
***
**
*

In [ ]:
def print_diamond_pattern(input_string):
    # Calculate the length of the input string
    length = len(input_string)

    # Print the upper half of the diamond
    for i in range(length):
        # Print spaces
        print(" " * (length - i - 1), end="")

        # Print characters
        for j in range(i + 1):
            print(input_string[j], end="")

        # Print characters in reverse order except for the last one
        for k in range(i - 1, -1, -1):
            print(input_string[k], end="")

        # Move to the next line
        print()

    # Print the lower half of the diamond
    for i in range(length - 2, -1, -1):
        # Print spaces
        print(" " * (length - i - 1), end="")

        # Print characters
        for j in range(i + 1):
            print(input_string[j], end="")

        # Print characters in reverse order except for the last one
        for k in range(i - 1, -1, -1):
            print(input_string[k], end="")

        # Move to the next line
        print()

# Test the function with 'testing' as input
input_string = "testing"
print_diamond_pattern(input_string)

      t
     tet
    teset
   testset
  testitset
 testinitset
testingnitset
 testinitset
  testitset
   testset
    teset
     tet
      t

In [ ]:
def linear_search(data,target):
  if len(data)<=1:
    return data
  for i in range(len(data)):
    if data[i]==target:
      return i
  return -1

data = list(eval(input()))
target = int(input())
index= linear_search(data,target)

if index!=-1:
  print(f"Target {target} found at index {index}")
else:
  print(f"target not found")

[98,25,45,36,2]
2
Target 2 found at index 4

In [ ]:
def bubble_sort(arr):
  n = len(arr)

  for i in range(n):
    for j in range(0,n-i-1):
      if arr[j]>arr[j+1]:
        arr[j],arr[j+1]=arr[j+1],arr[j]

arr = list(eval(input()))
result = bubble_sort(arr)

for i in range(len(arr)):
  print("sorted array is :",arr[i])

[98,25,45,36,2]
sorted array is : 2
sorted array is : 25
sorted array is : 36
sorted array is : 45
sorted array is : 98

In [ ]:
def vowels(input_str):
  extracted_vowel = ''

  for ch in input_str:
    if ch in 'aeiouAEIOU':
      extracted_vowel+=ch
  return extracted_vowel


T = int(input())

for t in range(T):
  test_word = input()
  result = vowels(test_word)
  print(result)

5
almabetter
aaee
microsoft
ioo
accenture
capegemini
aeeii
hello
eo

In [ ]:
def multiply(A,B):
  return int(A)* int(B)

A = input()
B= input()
result = multiply(A,B)
print(result)

5
5
25

In [ ]:
def solution(A , K):
     old = A
     new = [0]*len(A)
     for i in range(K):
         new[0]=old[-1]
         new[1:] = old[:-1]
         old = new.copy() # This was the problematic line
     return new

solution('doselect', 2)

['c', 't', 'd', 'o', 's', 'e', 'l', 'e']

In [ ]:
def string_motor(A,K):
  return A[K:] + A[:K]

A= input()
K = int(input())

result = string_motor(A,K)
result

doselect
2

'selectdo'

In [ ]:
def rotate(A,K):
  return  A[len(A)-K :] +  A[0:len(A)-K]

A = input()
K = int(input())
res = rotate(A,K)
res

doselect
2

'ctdosele'

In [ ]:
# Function to rotate string left and right by d length

def rotate(input,d):

	# slice string in two parts for left and right
	Lfirst = input[0 : d]
	Lsecond = input[d :]
	Rfirst = input[0 : len(input)-d]
	Rsecond = input[len(input)-d : ]

	# now concatenate two parts together
	print ("Left Rotation : ", (Lsecond + Lfirst) )
	print ("Right Rotation : ", (Rsecond + Rfirst))

# Driver program
if __name__ == "__main__":
	input = 'GeeksforGeeks'
	d=2
	rotate(input,d)

Left Rotation :  eksforGeeksGe
Right Rotation :  ksGeeksforGee

In [ ]:
def print_diamond_pattern(input_string):
    # Calculate the length of the input string
    length = len(input_string)

    # Print the upper half of the diamond
    for i in range(length):
        # Print spaces
        print(" " * (length - i - 1), end="")

        # Print characters
        for j in range(i + 1):
            print(input_string[j], end="")

        # Print characters in reverse order except for the last one
        for k in range(i - 1, -1, -1):
            print(input_string[k], end="")

        # Move to the next line
        print()

    # Print the lower half of the diamond
    for i in range(length - 2, -1, -1):
        # Print spaces
        print(" " * (length - i - 1), end="")

        # Print characters
        for j in range(i + 1):
            print(input_string[j], end="")

        # Print characters in reverse order except for the last one
        for k in range(i - 1, -1, -1):
            print(input_string[k], end="")

        # Move to the next line
        print()

# Test the function with 'testing' as input
input_string = "testing"
print_diamond_pattern(input_string)

      t
     tet
    teset
   testset
  testitset
 testinitset
testingnitset
 testinitset
  testitset
   testset
    teset
     tet
      t

In [ ]:
def is_armstrong(number):
  test_num = len(str(number))
  sum = 0
  temp = number

  while temp>0:
    digit = temp%10
    sum+=digit**test_num
    temp//=10

  if number == sum:
    return True
  else:
    return False

T = int(input())

for t in range(T):
  test_case = int(input())
  if is_armstrong(test_case):
    print(f"Armstrong")
  else:
    print(f"Not Armstrong")

3
153
Armstrong
761
Not Armstrong
112
Not Armstrong

In [ ]:
def bubble_Sort(arr):
  n = len(arr)

  for i in range(n):
    for j in range(0,n-i-1):
      if arr[j]>arr[j+1]:
        arr[j],arr[j+1]=arr[j+1],arr[j]

arr = list(eval(input()))
bubble_Sort(arr)

for i in range(len(arr)):
  print("sorted array is :",arr[i])

[85,25,65,8,94,4,7]
sorted array is : 4
sorted array is : 7
sorted array is : 8
sorted array is : 25
sorted array is : 65
sorted array is : 85
sorted array is : 94

MEAN open rate and email_rate

In [ ]:
import pandas as pd

data = {


        'name': ['Microsoft','Apple','SoftBank','Amazon'],
        'open_rate': [2025,2035,2045,5689],
        'mean_open_rate':[2106,2361,1265,2145]
}

index = [1,2,3,4]
df = pd.DataFrame(data,index = index)
df

print(df['open_rate']<df['mean_open_rate'])

1     True
2     True
3    False
4    False
dtype: bool

In [ ]:
import pandas as pd
import numpy as np
data = {

      'age':[3,4,5,5,np.nan,4.5,np.nan,5,6,7],
      'visits':[1,2,1,2,1,3,1,1,2,2],
      'name':['pintu','pluto','whisky','oscar','chiru','chintu','maggie','mike','kariya','chimtu']
}
labels = ['a','b','c','d','e','f','g','h','i','j']
df = pd.DataFrame(data = data, index=labels)
df

print(df.describe())

            age     visits
count  8.000000  10.000000
mean   4.937500   1.600000
std    1.208231   0.699206
min    3.000000   1.000000
25%    4.375000   1.000000
50%    5.000000   1.500000
75%    5.250000   2.000000
max    7.000000   3.000000

In [ ]:
def string_motor(A,K):
  return A[K:] + A[:K]

A = input()
K = int(input())
print(string_motor(A,K))

doselect
2
selectdo

In [ ]:
def Extracted_vowels(input_str):
  extracted = ''

  for ch in input_str:
    if ch in 'aeiouAEIOU':
      extracted+=ch
  return extracted

T = int(input())

for t in range(T):
  test_words = input()
  result =  Extracted_vowels(test_words)
  print(result)

5
AlmaBetter
Aaee
Scaler
ae
Interlipaat
Ieiaa
Udemy
Ue
Coursera
ouea

In [ ]:
def Extracted_vowels(T,input_str):
  extracted = ''

  for ch in input_str:
    if ch in 'aeiouAEIOU':
      extracted+=ch
  return Extracted_vowels
  for t in range(T):
    result =  Extracted_vowels(input_str)
  return result


T = int(input())
input_str = input()
Extracted_vowels(T,input_str)

5
almabetter

In [ ]:
size = 5

for i in range(size):
  for j in range(size-i):
    print(" ",end="")
  for k in range(0,i+1):
    print("*",end="")
  print()

for i in range(size):
  for j in range(size-i):
    print("*",end="")
  print()

     *
    **
   ***
  ****
 *****
*****
****
***
**
*

In [ ]:
input_string = 'testing'
size = len(input_string)

for i in range(size):
    for j in range(size - i):
        print(" ", end="")
    for k in range(0, i + 1):
        print("*", end="")
    print()

for i in range(size):
    for j in range(size - i):
        print("*", end="")
    print()

       *
      **
     ***
    ****
   *****
  ******
 *******
*******
******
*****
****
***
**
*

In [ ]:
input_string = 'testing'
size = len(input_string)

# Upper half of the diamond
for i in range(size):
    print(" " * (size - i - 1) + input_string[:i + 1])

# Lower half of the diamond
for i in range(size - 2, -1, -1):
    print(" " * (size - i - 1) + input_string[:i + 1])

      t
     te
    tes
   test
  testi
 testin
testing
 testin
  testi
   test
    tes
     te
      t

In [ ]:
def extract_vowels(input_string):
    vowels = 'aeiouAEIOU'
    result = ''
    for char in input_string:
        if char in vowels:
            result += char
    return result

input_string = 'aeiou'
for i in range(len(input_string)):
    print(extract_vowels(input_string[:i + 1]), end=",")

a,ae,aei,aeio,aeiou,

In [ ]:
def extract_vowels(input_string):
    vowels = 'aeiouAEIOU'
    result = ''
    for char in input_string:
        if char in vowels:
            result += char
    return result

# Taking 5 test cases as input
for _ in range(5):
    input_string = input("Enter a string: ")
    print(extract_vowels(input_string))

Enter a string: almabetter
aaee
Enter a string: tilak
ia
Enter a string: naivaidya
aiaia
Enter a string: mohit
oi
Enter a string: faizal
aia

In [ ]:
def extract_vowels(input_string):
    vowels = 'aeiouAEIOU'
    result = ''
    for char in input_string:
        if char in vowels:
            result += char
    return result
T = int(input())
# Taking 5 test cases as input
for t in range(T):
    input_string = input("Enter a string: ")
    print(extract_vowels(input_string))

5
Enter a string: almabetter
aaee
Enter a string: james
ae
Enter a string: mike
ie
Enter a string: sam
a
Enter a string: stuart
ua

In [ ]:
data = {
    'a':1,
    'b':2,
    'c':3,
    'd':4,
    'e':5,
    'f':6,
    'g':7,
    'h':8,
    'i':9,
    'j':10,
    'k':11,
    'l':12,
    'm':13,
    'n':14,
    'o':15,
    'p':16,
    'q':17,
    'r':18,
    's':19,
    't':20,
    'u':21,
    'v':22,
    'w':23,
    'x':24,
    'y':25,
    'z':26

}

In [ ]:
def encode_string(input_str):
    encoded_result = ""
    for char in input_str:
        if char.isalpha():
            char = char.lower()
            encoded_result += str(ord(char) - ord('a') + 1) + " "
        else:
            encoded_result += char
    return encoded_result.strip()

input_string = "apple"
encoded_output = encode_string(input_string)
print("Encoded result for input '{}' is: {}".format(input_string, encoded_output))

Encoded result for input 'apple' is: 1 16 16 12 5

In [ ]:
def encode_string(input_str):
  encoded_result = ""

  for char in input_str:
    if char.isalpha():
      char = char.lower()
      encoded_result+= str(ord(char)-ord('a')+1) + " "
    else:
      encoded_result+=char
  return encoded_result.strip()

T = int(input())

for t in range(T):
  new = input()
  encoded_out = encode_string(new)
  print(encoded_out)

2
apple
1 16 16 12 5
mango
13 1 14 7 15

In [ ]:
n = eval(input)
result = [num for num in n if num >0  num = num**2]

SyntaxError: invalid syntax (<ipython-input-4-d5a2b16e0e06>, line 2)

In [ ]:
number = eval(input())

result = [lambda x: x**2,number]
print(result)

[0,1,2]
[<function <lambda> at 0x7d09908e3be0>, [0, 1, 2]]

In [ ]:
n = int(input())

for i in range(5):
  n = ' '.join(i)
  print(n)

5

TypeError: can only join an iterable

In [ ]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        print(i)

3
0
1
2

In [ ]:
arr = [21,45,2,96,56]
smallest = arr[0]
largest = arr[0]

for num in arr:
  if num>largest:
    largest=num
  if num<smallest:
    smallest=num
print(largest-1)
print(smallest)

95
2

In [ ]:
n = int(input())
arr = map(int, input().split())
smallest = arr[0]
largest = arr[0]

for num in arr:
  if num>largest:
    largest=num
  if num<smallest:
    smallest=num
print(largest-1)
print(smallest)

5
[21,45,2,96,56]

TypeError: 'map' object is not subscriptable