<a href="https://colab.research.google.com/github/Tilak46-R/CODING-PRACTICE/blob/main/Interview_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ARMSTRONG NUMBER**

In [ ]:
i=0
result=0
n=int(input())
number1=n
temp=n
while n!=0:
  n = (n//10)
  i = i+1
while number1!=0:
  n = (number1%10)
  result = result + pow(n,i)
  number1 = (number1//10)
if temp == result:
  print("Armstrong")
else:
  print("Not an Armstrong")

153
Armstrong

In [ ]:
i = 0
result = 0
n = int(input())
number1 = n
temp = n
while n!=0:
  n = n//10
  i=i+1
while number1!=0:
  n=number1%10
  result = result + pow(n,i)
  number1 = number1//10
if result==temp:
  print("A")
else:
  print("B")

156
B

In [ ]:
a = (1%10)
a

1

In [ ]:


# Python program to check if the number is an Armstrong number or not
num = int(input("Enter a number: "))  # Take input from the user

# Initialize the sum
sum = 0

# Find the sum of the cube of each digit
temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10

# Display the result
if num == sum:
    print(f"{num} is an Armstrong number")
else:
    print(f"{num} is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

In [ ]:
A= pow(0,1)
A

0

In [ ]:
i=0
result=0
n =int(input())
number1=n
temp=n
while n!=0:
  n = (n//10)
  i = i + 1
while number1 !=0:
  n=(number1%10)
  result = result + pow(n,i)
  number1 = number1//10
if temp == result:
  print("Num is Armstrong")
else:
  print("Num is not Armstrong")

153
Num is Armstrong

Pattern

In [ ]:
n = int(input())

for i in range(1,n+1):
  for j in range(1,i+1):
    print("*", end = "")
  print()

5
*
**
***
****
*****

In [ ]:
size = 5
for i in range(size):
  for j in range(1,size-i):
    print(" ", end = "")
  for k in range(0, i+1):
    print("*", end = "")
  print()

    *
   **
  ***
 ****
*****

In [ ]:
size = 5
for i in range(size):
  for j in range(size):
    if i==j or i+j==size-1:
      print("*", end = "")
    else:
      print(" ", end = "")
  print()

*   *
 * *
  *
 * *
*   *

In [ ]:
size = 5
for i in range(size):
  for j in range(size):
    if i==j or i+j==size-1:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*   *
 * *
  *
 * *
*   *

In [ ]:
size = 5
for i in range(size):
  for j in range(size-i):
    print("*", end = "")
  print()

*****
****
***
**
*

In [ ]:
size = 5
for i in range(size):
  for j in range(i):
    print(" ", end = "")
  for j in range(size,i,-1):
    print("*", end = "")
  print()

*****
 ****
  ***
   **
    *

# **BUBBLE SORT**

In [ ]:
def bubble_sort(arr):
  n=len(arr)

  for i in range(n):
    for j in range(0,n-i-1):
      if arr[j]>arr[j+1]:
        arr[j],arr[j+1]=arr[j+1],arr[j]

arr = [5,2,7,3,1,8,6,4]
bubble_sort(arr)
print("Sorted array is:")
for i in range(len(arr)):
  print("%d" %arr[i])

Sorted array is:
1
2
3
4
5
6
7
8

# **LINEAR SEARCH**

In [ ]:
def linear_search(data,target):
  for i in range(len(data)):
    if data[i]==target:
      return i
  return -1


data = eval(input("enter the values separated by space"))
target = int(input(("enter the target value")))

index = linear_search(data,target)

if index!=-1:
  print(f"Target {target} found at index {index}")
else:
  print(f"Target {target} not found")

enter the values separated by space[1,2,3,4,5]
enter the target value2
Target 2 found at index 1

In [ ]:
def recursion_linear_search(arr,target,start_idx=0):
  if start_idx>len(arr):
    return -1
  if arr[start_idx] == target:
    return start_idx
  return recursion_linear_search(arr,target,start_idx+1)

arr = eval(input("enter the elements"))
target = int(input("enter the elements"))
result = recursion_linear_search(arr,target)

if result != -1:
  print(f"Target element {target} found at index {result}")
else:
  print("not found")

enter the elements[1,2,3,4,5]
enter the elements2
Target element 2 found at index 1

## **Binary search**

In [ ]:
def binary_search(data,target):
  left = 0
  right = len(data)-1
  while left<=right:
    mid = (left+right)//2
    if data[mid]==target:
      return mid
    elif data[mid]<target:
      left = mid + 1
    else:
      right = mid - 1
  return -1

data = eval(input("enter the values"))
target = int(input("enter the value"))
result = binary_search(data,target)

if result!=-1:
  print(f"Target element {target} found at index no {result}")
else:
  print(f"Target value not found")

enter the values[1,2,3,4,5]
enter the value5
Target element 5 found at index no 4

Leap year

In [ ]:
def is_leap_year(year):
  return (year%4==0 and year %100 !=0) or (year % 400 ==0)

year_to_check = int(input())
result= is_leap_year(year_to_check)
print(f"The year {year_to_check} is a leap year : {result}")

2024
The year 2024 is a leap year : True

# **Reverse a number**

In [ ]:
def reverse_number(number):
  original_number = number
  reverse = 0

  for num in str(number):
    digit = number%10
    reverse = reverse*10 + digit
    number//=10
  print(f"Original number: {original_number}")
  print(f"Reverse: {reverse}")

reverse = 7894
reverse_number(reverse)

Original number: 7894
Reverse: 4987

## **USING SLICING**

In [ ]:
def reverse_number(number):
  num_list = list(str(number))
  reversed_num = int(''.join(num_list[::-1]))
  return reversed_num

original_num = 1234
reverse_number(original_num)

4321

## **GCD**

In [ ]:
def computeGcd(x,y):
  if x>y:
    small = y
  else:
    small = x
  for i in range(1,small+1):
    if ((x%i==0)and(y%i==0)):
      gcd= i
  return gcd

In [ ]:
x=60
y=48
computeGcd(x,y)

12

In [ ]:
def hcfnaive(a,b):
  if (b==0):
    return abs(a)
  else:
    return hcfnaive(b,a%b)

In [ ]:
hcfnaive(60,120)

60

## **NON REPEATING CHARCTERS**

In [ ]:
string = input("enter the strig")
char_count = {}

for char in string:
  if char in char_count:
    char_count[char]+=1
  else:
    char_count[char]=1

non_repeating = ""
for char in string:
  if char_count[char]==1:
    non_repeating+=char
print("Non repeating characters",non_repeating)

enter the strigprogramming
Non repeating characters poain

# **HARMONIC SUM**

In [ ]:
def harmonic_sum(n):
  if n<2:
    return 1
  else:
    return 1 / n + harmonic_sum(n-1)

In [ ]:
harmonic_sum(7)

2.5928571428571425

In [ ]:
num = eval(input())
tar=int(input())
new=''
for i in range(len(num)):
  if num[i]<=tar:
    new.append(i)
    print(new)

[0, 12, 45, 3, 4923, 322, 105, 29, 15, 39, 55]
100

AttributeError: 'str' object has no attribute 'append'

Write a Python program to get the smallest number from a list.

In [1]:
lst = eval(input())
print(min(lst))

[1,2,0,-8]
-8

In [4]:
#Write a Python program to print a specified list after removing the 0th, 4th and 5th elements

lst = eval(input())
new_list = lst[1:4]
print(new_list)

['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
['Green', 'White', 'Black']

In [5]:
lst = eval(input())
lst = [x for (i,x) in enumerate(lst) if i  not in (0,4,5)]
print(lst)

['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
['Green', 'White', 'Black']

Write a Python program to append a list to the second list.

In [6]:
lst1 = eval(input())
lst2 = eval(input())
lst3 = lst1+lst2
print(lst3)

[1, 2, 3, 0]
['Red', 'Green', 'Black']
[1, 2, 3, 0, 'Red', 'Green', 'Black']

Write a Python program to test whether all numbers of a list is greater than a certain number.

In [14]:
lst = eval(input())
target = int(input())
new_lst = []

for num in lst:
  if num>target:
    new_lst.append(num)
print(new_lst)

[2, 3, 4, 5]
1
[2, 3, 4, 5]

In [16]:
lst = eval(input())
target = int(input())
print(all(num>target for num in lst))

[2, 3, 4, 5]
1
True

Type of triangle

In [19]:
side_a = int(input())
side_b = int(input())
side_c = int(input())

if side_a == side_b == side_c:
  print("equilateral triangle")
elif side_a == side_b or side_b == side_c or side_c == side_a:
  print("Isoceles triangle")
else:
  print("Scalene triangle")

5
5
4
Isoceles triangle

Write a Python program to convert month name to a number of days. Print 'Wrong month name' for incorrect input. Note: February has 28/29 days.

In [23]:
month_name = input()

if month_name in ('january','march','may','july','august','october','december'):
  print("31 days")
elif month_name in ('april','june','september','november'):
  print("30 days")
elif month_name in ('februrary'):
  print("28/29 days")
else:
  print("Invalid month")

sunday
Invalid month

Write a Python program to add two objects if both objects are an integer type.

In [31]:
a = input()
b = input()

if type(a) and type(b) == int:
  c= a + b
  print(c)
else:
  print("Input must be integers")

10
12.5
Input must be integers

In [32]:
# your code goes here
def add_numbers(a, b):
   if not (isinstance(a, int) and isinstance(b, int)):
       return "Inputs must be integers!"
   return a + b

n1 = eval(input())
n2 = eval(input())
print(add_numbers(n1, n2))

10
12.5
Inputs must be integers!

Write a Python program to calculate the length of a string.

In [34]:
string = input()
print(len(string))

datascience
11

In [35]:
def n_number(lst,n):
  return lst[n-1::n]

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n = int(input())

print(n_number(lst,n))

2
[2, 4, 6, 8, 10]

Write a Python program to check whether an alphabet is a vowel or consonant.

In [36]:
word = input()

for word in word:
  if word in 'aeiouAEIOU':
    print("Vowel")
  else:
    print("Consonant")

a
Vowel

Write a Python program to calculate a dog's age in dog's years. Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.

In [38]:
age = int(input())

if age<= 2:
  dog_age = age*10.5
elif age>2:
  dog_age = ((age-2)*4 +21)
print(dog_age)

12
61

Write a Python program to find the biggest even number between two numbers inclusive.

In [42]:
m = int(input())
n = int(input())

if m > n or (m==n and m %2==1):
  print("-1")
elif n %2 == 0:
  print(n)
else:
  print(n-1)

12
51
50

Write a Python program to remove None value from a given list. (Using list comprehension)

In [45]:
number = eval(input())
number = [x for x in number if x is not None]
print(number)

[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
[12, 0, 23, -55, 234, 89, 0, 6, -12]

Write a Python program to find the indexes of all None items in a given list.

In [51]:
number = eval(input())
result = [i for i in range(len(number)) if number[i] == None]
print(result)

[1, None, 5, 4,None, 0, None, None]
[1, 4, 6, 7]

In [48]:
num = eval(input())

for i  in range(len(num)):
  if num[i]==None:
    print(i)

[1, None, 5, 4,None, 0, None, None]
1
4
6
7

Write a Python program to remove specific words from a given list. (Using List comprehension)

In [54]:
obj = eval(input())
removal = eval(input())

for ob in obj:
  if ob not in removal:
    print(ob)

['red', 'green', 'blue', 'white', 'black', 'orange']
['white', 'orange']
red
green
blue
black

In [56]:
obj = eval(input())
removal = eval(input())
removed_lst = [word for word in obj if word not in removal]
print(removed_lst)

['red', 'green', 'blue', 'white', 'black', 'orange']
['white', 'orange']
['red', 'green', 'blue', 'black']