<a href="https://colab.research.google.com/github/Tilak46-R/CODING-PRACTICE/blob/main/Practice_questions_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s = 5

for i in range(s):
  for j in range(s):
    if i == 0 or i == s - 1 or j == 0 or j == s-1:
      print("#",end = "")
    else:
      print(" ",end="")
  print()

#####
#   #
#   #
#   #
#####

In [2]:
s = 5

for i in range(s):
  for j in range(s):
    if i ==0 or i == s- 1 or j == 0 or j == s-1:
      print("#",end="")
    else:
      print(" ",end="")
  print()

#####
#   #
#   #
#   #
#####

In [8]:
s = 10

for i in range(s):
  for j in range(s):
    if i == 0 or i == s-1 or j == 0 or j == s- 1 or  i == j  or i + j == s-1:
      print("#",end="")
    else:
      print(" ",end="")
  print()

##########
##      ##
# #    # #
#  #  #  #
#   ##   #
#   ##   #
#  #  #  #
# #    # #
##      ##
##########

In [9]:
s = 5

for i in range(1,s+1):
  for j in range(1,i+1):
    print("2",end="")
  print()

2
22
222
2222
22222

In [11]:
s = 5

for i in range(s):
  for j in range(s-i):
    print("2",end="")
  print()

22222
2222
222
22
2

In [14]:
s = 6

for i in range(1,s+1):
  print(" " * (s-i) + "*" * i)

     *
    **
   ***
  ****
 *****
******

In [15]:
s = 6

for i in range(s):
  for j in range(i+1):
    print(chr(j + 65),end="")
  print()

A
AB
ABC
ABCD
ABCDE
ABCDEF

In [17]:
s = 6

for i in range(s):
  for j in range(s-i):
    print(chr(j + 65),end="")
  print()

ABCDEF
ABCDE
ABCD
ABC
AB
A

In [22]:
s = 6

for i in range(s):
  for j in range(s-i):
    if i %2 == 0 or j % 2 == 0:
      print("2",end="")
    else:
      print(chr(j + 65),end="")
  print()

222222
2B2D2
2222
2B2
22
2

In [ ]:
s = 5

for i in range(s):
  for j in range(s-i):
    print("*",end="")
  print()

*****
****
***
**
*

In [31]:
s = 5

for i in range(s):
  print(" "*(s-i) + "*" * (2*i+1))

for i in range(s-2,-1,-1):
   print(" "*(s-i) + "*" * (2*i+1))

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [ ]:
s = 5

for i in range(1,s+1):
  print(" "*(s-i) + "*"*i)
for i in range(s):
  for j in range(s-i):
    print("*",end="")
  print()

    *
   **
  ***
 ****
*****
*****
****
***
**
*

where i and j are rows and columns
i == 0 means first row and j == 0 means first column
i == s-1 means last row and j == s-1 means last column
hence it prints the hollow square

In [ ]:
s = 5

for i in range(s):
  for j in range(s):
    print("*",end="")
  print()

*****
*****
*****
*****
*****

In [ ]:
s = 5

for i in range(s):
  for j in range(s):
    if i == 0 or i == s-1 or j == 0 or j== s-1:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*****
*   *
*   *
*   *
*****

In [ ]:
s = 5

for i in range(s):
  for j in range(s):
    if i == 0 or i == s-1 or j == 0 or j == s-1 or i == j or i + j == s-1:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*****
** **
* * *
** **
*****

In [ ]:
s = 10

for i in range(s):
  for j in range(s):
    if i == 0 or i == s-1 or j == 0 or j == s-1 or i==j or i+j==s-1:
      print('*',end="")
    else:
      print(" ",end="")
  print()

**********
**      **
* *    * *
*  *  *  *
*   **   *
*   **   *
*  *  *  *
* *    * *
**      **
**********

In [ ]:
s = 6

for i in range(s):
  for j in range(s):
    if i == j or i + j == s-1:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*    *
 *  *
  **
  **
 *  *
*    *

In [ ]:
s = 11

for i in range(s):
  for j in range(s):
    if i == 0 or i == s-1 or j == 0 or j == s-1 or i==s//2 or j==s//2:
      print('*',end="")
    else:
      print(" ",end="")
  print()

***********
*    *    *
*    *    *
*    *    *
*    *    *
***********
*    *    *
*    *    *
*    *    *
*    *    *
***********

In [ ]:
s = 11
for i in range(s):
  for j in range(s):
    if i == s//2 or j == s//2:
      print("*",end="")
    else:
      print(" ",end="")
  print()

     *
     *
     *
     *
     *
***********
     *
     *
     *
     *
     *

for i == 5 and 11//2  is  5 , we get the same answer hence it matches so it prints a pattern

In [ ]:
def ones(nums):
  count = 0
  max_count = 0

  for num in nums:
    if num == 1:
      count+=1
    else:
      count=0
    max_count = max(count,max_count)
  return max_count

nums = [1,1,1,5,5,5]
ones(nums)

3

In [ ]:
def attendance(s):

  if s.count('A')>2:
    return False
  elif 'LLL' in s:
    return False
  return True

s = 'PPPAALLL'
attendance(s)

False

In [ ]:
def reverse(s,k):
  s = list(s)

  for i in range(0,len(s),k):
    s[i:i+k] = reversed(s[i:i+k])
  return ''.join(s)

s =  "abababababababababababab"
k = 5
reverse(s,k)

'ababababababababababbaba'

In [ ]:
def rev(s,k):
  s = list(s)

  for i in range(0,len(s),2*k):
    s[i:i+k]= reversed(s[i:i+k])
  return ''.join(s)

s =  "abababababababababababab"
k = 5
reverse(s,k)

'ababababababababababbaba'

In [ ]:
ss = "abababababababababababab"
k = 5
print(reverse(ss,k))

ababababababababababbaba

In [ ]:
#00,5,10,15,20

#a,b,b,a,b

m = "baabaabbabbaabaabbabbabab"
len(m)

25

In [ ]:
len(ss)

24

Given a string s,
return true if the s can be palindrome after deleting at most one character from it.


Example 1:
Input: s = "aba"
Output: true

Example 2:
Input: s = "abca"
Output: true
Explanation: You could delete the character 'c'.

Example 3:
Input: s = "abc"
Output: false


Constraints:
1 <= s.length <= 1000
s consists of lowercase English letters.

In [ ]:
def palindrome(s):
  left,right = 0 , len(s)-1

  while left<right:
    if s[left] != s[right]:
      return s[left:right] == s[left:right][::-1] or s[left+1:right+1] == s[left+1 : right+1][::-1]
    left += 1
    right -=1
  return True

s = 'aba'
print(palindrome(s))

True

Write a function that reverses a string. The input string is given as an array of characters s.

You must do this by modifying the input array in-place with O(1) extra memory.

Example 1:

Input: s = ["h","e","l","l","o"]

Output: ["o","l","l","e","h"]

Example 2:

Input: s = ["H","a","n","n","a","h"]

Output: ["h","a","n","n","a","H"]

In [ ]:
def rev(s):
  left,right = 0,len(s)-1

  while left<right:
    s[left],s[right] = s[right],s[left]
    left +=1
    right -=1
  return s

s = ["H","a","n","n","a","h"]
rev(s)

['h', 'a', 'n', 'n', 'a', 'H']


You are given two strings word1 and word2. Merge the strings by adding letters in alternating order, starting with word1. If a string is longer than the other, append the additional letters onto the end of the merged string.

In [ ]:
def merge_string(word1,word2):
  merged = []

  i,j =0,0

  while i < len(word1) or j < len(word2):
    if i <len(word1):
      merged.append(word1[i])
      i+=1
    if j < len(word2):
      merged.append(word2[j])
      j+=1

  return ''.join(merged)


word1 = 'abc'
word2 = 'pqr'
merge_string(word1,word2)

Input: s = "2-5g-3-J", k = 2
Output: "2-5G-3J"
Explanation: The string s has been split into three parts, each part has 2 characters except the first part as it could be shorter as mentioned above.

In [ ]:
def licenseKeyFormatting(s: str, k: int) -> str:
    # Remove all dashes and convert to uppercase
    s = s.replace('-', '').upper()

    # Create the result starting from the end and group every k characters
    result = []
    for i in range(len(s)):
        if i > 0 and (len(s) - i) % k == 0:
            result.append('-')
        result.append(s[i])

    # Join the result list into a string and return
    return ''.join(result)

# Example usage
s = "2-5g-3-J"
k = 2
print(licenseKeyFormatting(s, k))  # Output: "2-5G-3J"

In [ ]:
def remove(s,k):
  s = s.replace('-','').upper()

  result = []

  for i in range(len(s)):
    if i > 0 and (len(s)-i) % k == 0:
      result.append('-')
    result.append(s[i])
  return ''.join(result)