<a href="https://colab.research.google.com/github/Tilak46-R/CODING-PRACTICE/blob/main/PRACTICE_QUESTIONS123.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Fibonacci series

def fibonacci(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

nums = int(input())
print(fibonacci(nums))

7
13

In [ ]:
def fibonacci(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

n = int(input())
fibonacci(n)

7

13

In [ ]:
def Fibonacci(n):
 if n==0:

In [ ]:
def fibonacci(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

n = int(input())

for i in range(n):
  print(fibonacci(i),end = "")

5
01123

In [ ]:
def fibonacci(n):
  if n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

n = int(input())

for i in range(n):
  print(fibonacci(i),end = "")

6
011235

In [ ]:
def fibonaci(num):
  if num == 0:
    return 0
  elif num ==1:
    return 1
  else:
    return fibonaci(num-1) + fibonaci(num-2)

num = int(input())
fibonaci(num)

5

5

In [ ]:
def fibonacci(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

for i in range(6):
  print(fibonacci(i),end=" ")

0 1 1 2 3 5

In [ ]:
def fibonacci(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)


for i in range(0,7):
  print(f"For number {i} its fibonacci is {fibonacci(i)}")

For number 0 its fibonacci is 0
For number 1 its fibonacci is 1
For number 2 its fibonacci is 1
For number 3 its fibonacci is 2
For number 4 its fibonacci is 3
For number 5 its fibonacci is 5
For number 6 its fibonacci is 8

In [ ]:
def fibonacci(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)


for i in range(0,7):
  print(fibonacci(i),end=" ")

0 1 1 2 3 5 8

In [ ]:
#Factorial

def Factorial(n):
  if n<=1:
    return 1
  else:
    return n * Factorial(n-1)

num = int(input())
Factorial(num)

5

120

In [ ]:
def factorial(n):
  if n==0 or n==1:
    return 1
  else:
    return n * factorial(n-1)

num = int(input())
factorial(num)

5

120

In [ ]:
def factorial(n):
  if n == 0 or n == 1:
    return 1
  else:
    return n * factorial(n-1)

n = int(input())

for i in range(n+1):
  print(factorial(i),end= " ")

5
1 1 2 6 24 120

In [ ]:
def factorial(n):
  if n == 0 or n==1:
    return 1
  else:
    return n * factorial(n-1)

n = int(input())

for i in range(n):
  print(factorial(i),end = " ")

6
1 1 2 6 24 120

In [ ]:
def factorial(n):
  if n == 0 or n==1:
    return 1
  else:
    return n * factorial(n-1)

n = int(input())

for  i in range(n):
  print(factorial(i),end=",")

5
1,1,2,6,24,

In [ ]:
#Factorial num like series
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

for i in range(1, 6):
    print(factorial(i),end =" ") # use end and give spacing to have spaces between  numbers

1 2 6 24 120

In [ ]:
def factorial(n):
  if n<=0:
    return 1
  else:
    return n * factorial(n-1)

n = int(input())
for i in range(1,n):
  print(factorial(i),end = " ")

6
1 2 6 24 120

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

for i in range(1, 6):
    print(f"Factorial of {i}: {factorial(i)}")

Factorial of 1: 1
Factorial of 2: 2
Factorial of 3: 6
Factorial of 4: 24
Factorial of 5: 120

In [ ]:
#Remove vowel from string

def remove_vowel(strings):
  vowel = 'aeiouAEIOU'

  for ch in strings:
    if ch in vowel:
      strings = strings.replace(ch, '')
  return strings

strings = input()
remove_vowel(strings)

customfunctions

'cstmfnctns'

In [ ]:
def consonants(string):
  vowel = 'aeiouAEIOU'
  consonant = ""

  for ch in string:
    if ch not in vowel:
      consonant+=ch
  return consonant

strings = input()
consonants(strings)

consonants

'cnsnnts'

In [ ]:
def consonants(string):
  vowel = 'aeiouAEIOU'
  consonant = ''

  for ch in string:
    if ch not in vowel:
      consonant+=ch
  return consonant

string = input()
consonants(string)

custom

'cstm'

In [ ]:
def consonants(string):
  vowel = 'aeiouAEIOU'
  consonant = ''

  for ch in string:
    if ch not in vowel:
      consonant+=ch
  return consonant

string = input()
consonants(string)

custom functions

'cstm fnctns'

In [ ]:
def vowel_remove(strings):
  vowel = 'aeiouAEIOU'

  for ch in strings:
    if ch in vowel:
      strings = strings.replace(ch, "")
  return strings

strings = input()
vowel_remove(strings)

customfunctions

'cstmfnctns'

In [ ]:
def remove_vowels(words):
  vowels = 'AEIOUaeiou'
  consonant = ''

  for word in words:
    if word not in vowels:
      consonant+=word
  return consonant

words = input()
remove_vowels(words)

Almabetter

'lmbttr'

In [ ]:
def remove_vowels(words):
  vowels = 'AEIOUaeiou'

  for word in words:
    if word in vowels:
      words = words.replace(word,'')
  return words

words = input()
remove_vowels(words)

Almabetter

'lmbttr'

In [ ]:
def remove_vowels(words):
  vowels = 'AEIOUaeiou'

  for word in words:
    if word in vowels:
      words = words.replace(word,'')
  return words

words = input()
remove_vowels(words)

Almabetter

'lmbttr'

In [ ]:
#find consonant
def find_consonant(strs):
  consonant = ''
  for ch in strs:
    if ch not in  'aeiouAEIOU':
      consonant += ch
  return consonant

strs = input()
remove_vowel(strs)

customfunctions

'cstmfnctns'

In [ ]:
#bubble sort

def bubble_sort(arr):
  n = len(arr)
  for i in range(n):
    for j in range(n-i-1):
      if arr[j]>arr[j+1]:
        arr[j],arr[j+1] = arr[j+1],arr[j]

arr = eval(input())
bubble_sort(arr)
for i in range(len(arr)):
  print(arr[i],'',end="")

[89,25,52,12,98,98]
12 25 52 89 98 98

In [ ]:
def bubble_sort(arr):
  n = len(arr)

  for i in range(n):
    for j in range(n-i-1):
      if arr[j]>arr[j+1]:
        arr[j],arr[j+1]=arr[j+1],arr[j]

arr = eval(input())
bubble_sort(arr)

for i in range(len(arr)):
  print(arr[i],end = ",")

[89,25,52,12,98,98]
12,25,52,89,98,98,

In [ ]:
def bubble_sort(arr):
  n = len(arr)

  for i in range(n):
    for j in range(n-i-1):
      if arr[j]>arr[j+1]:
        arr[j],arr[j+1]=arr[j+1],arr[j]

arr = eval(input())
bubble_sort(arr)

for i in range(len(arr)):
  print(arr[i],end = ",")

[89,25,52,12,98,98]
12,25,52,89,98,98,

In [ ]:
def bubble_sort(arr):
  n = len(arr)
  for i in range(n):
    for j in range(n-i-1):
      if arr[j]>arr[j+1]:
        arr[j],arr[j+1]= arr[j+1],arr[j]

arr = eval(input())
bubble_sort(arr)

for i in range(n):
  print(arr[i], end=" ")

[89,25,52,12,98,98]
12 25 52 89 98 98

In [ ]:
def bubble_sort(arr):
  n = len(arr)
  for i in range(n):
    for j in range(n-i-1):
      if arr[j]>arr[j+1]:
        arr[j],arr[j+1]=arr[j+1],arr[j]

arr = eval(input())
bubble_sort(arr)
for i in range(len(arr)):
  print(arr[i],end=" ")

[89,25,52,12,98,98]
12 25 52 89 98 98

In [ ]:
#Merge two lists and sort two lists and remove duplicates

list1 = [1,2,3,4,5,6]
list2 = [2,4,5,6,8,9]
merged_list = list1 + list2
print(list(set(merged_list)))

[1, 2, 3, 4, 5, 6, 8, 9]

In [ ]:
list1 = [1,2,3,4,5,6]
list2 = [2,4,5,6,8,9]
list3 = list1 + list2
print(list(set(list3)))

[1, 2, 3, 4, 5, 6, 8, 9]

In [ ]:
#remove duplicates Approach 1

list1 = [1,2,1,4,1,5,1,6,1,3]
unique_list = set(list1)
print(list(unique_list))

[1, 2, 3, 4, 5, 6]

In [ ]:
list1 = [1,2,1,4,1,5,1,6,1,3]
unique_list = set(list1)
print(list(unique_list))

[1, 2, 3, 4, 5, 6]

In [ ]:
#appproach 2

def remove_duplicates(nums):
  unique_list = []

  for num in nums:
    if num not in unique_list:
      unique_list.append(num)
  return unique_list

num = eval(input())
remove_duplicates(num)

[1,2,1,4,1,5,1,6,1,3]

[1, 2, 4, 5, 6, 3]

In [ ]:
def remove_duplicates(nums):
  unique = []

  for num in nums:
    if num not in unique:
      unique.append(num)
  return unique

nums = eval(input())
remove_duplicates(nums)

[1,2,1,4,1,5,1,6,1,3]

[1, 2, 4, 5, 6, 3]

In [ ]:
def remove_duplicates(lst):
  unique_list = []

  for num in lst:
    if num not in unique_list:
      unique_list.append(num)
  return unique_list
nums = eval(input())
remove_duplicates(nums)

[1,2,1,4,1,5,1,6,1,3]

[1, 2, 4, 5, 6, 3]

In [ ]:
def remove_duplicates(lst):
  unique_list = []

  for num in lst:
    if num not in unique_list:
      unique_list.append(num)
  return unique_list

lst = eval(input())
remove_duplicates(lst)

[1,2,1,4,1,5,1,6,1,3]

[1, 2, 4, 5, 6, 3]

In [ ]:
#Frequency of char #Appproach 1

def frequency(word):
  frequency_char = {}

  for char in word:
    if char in frequency_char:
      frequency_char[char]+=1
    else:
      frequency_char[char]=1
  return frequency_char

word = input()
frequency(word)

Almabetter

{'A': 1, 'l': 1, 'm': 1, 'a': 1, 'b': 1, 'e': 2, 't': 2, 'r': 1}

In [ ]:
def frequency(word):
  frequency_char = {}

  for ch in word:
    if ch in frequency_char:
      frequency_char[ch]+=1
    else:
      frequency_char[ch]=1
  return frequency_char

word = input()
frequency(word)

Almabetter

{'A': 1, 'l': 1, 'm': 1, 'a': 1, 'b': 1, 'e': 2, 't': 2, 'r': 1}

In [ ]:
# removing spaces
def frequency(word):
  frequency_char = {}

  for char in word:
   if char.isalpha():
    if char in frequency_char:
      frequency_char[char]+=1
    else:
      frequency_char[char]=1
   else:
      continue
  return frequency_char

word = input()
frequency(word)

almabetter data science

{'a': 4,
 'l': 1,
 'm': 1,
 'b': 1,
 'e': 4,
 't': 3,
 'r': 1,
 'd': 1,
 's': 1,
 'c': 2,
 'i': 1,
 'n': 1}

In [ ]:
#Appproach 2

def frequency(word):
  frequency_char = {}
  for char in word:
    if char.isalpha():
      char=char.lower()
      frequency_char[char] = frequency_char.get(char,0)+1
    else:
      continue
  return frequency_char

word = input()
frequency(word)

almabetter

{'a': 2, 'l': 1, 'm': 1, 'b': 1, 'e': 2, 't': 2, 'r': 1}

In [ ]:
#Searching Algorithm
def linear_search(data,target):
  for i in range(len(data)):
    if data[i]==target:
      return i
  return -1

data = [25,13,56,78,2]
target = 25
index = linear_search(data,target)

if index!=-1:
  print(f"Target is {target} found at index {index}")
else:
  print(f"Target not found")

In [ ]:
def search(arr,target):
  for i in range(len(arr)):
    if arr[i]==target:
      return i
  return -1

data = eval(input())
target = int(input())
index = search(data,target)

if index != -1:
  print(f"The ")

In [ ]:
#unique_list
list1 = [1,2,3,5,5,6,7,2,9]
unique_list = []
for i in list1:
  if i not in unique_list:
    unique_list.append(i)
print(unique_list)

[1, 2, 3, 5, 6, 7, 9]

In [ ]:
#GCD using loops Approach 1

def ComputeGCD(x,y):
  if x>y:
    small = y
  else:
    small = x

  for i in range(1,small+1):
    if ((x%i==0) and (y%i==0)):
      gcd = i
  return gcd

x = int(input())
y = int(input())
ComputeGCD(x,y)

12
24

12

In [ ]:
def hcf(x,y):
  if x>y:
    small = y
  else:
    small = x

  for i in range(1,small+1):
    if ((x%i==0) and (y%i==0)):
      hcf = i
  return hcf

x = int(input())
y = int(input())
hcf(x,y)

12
60

12

In [ ]:
def computegcd(x,y):
  if x>y:
    small = y
  else:
    small = x
  for i in range(1,small+1):
    if ((x%i==0) and (y%i==0)):
      gcd = i
  return gcd

x = int(input())
y = int(input())
computegcd(x,y)

24
96

24

In [ ]:
#using Recursion Approach 2
def hcfnaive(a,b):
  if b==0:
    return abs(a)
  else:
    return hcfnaive(b,a%b)

a = int(input())
b = int(input())
hcfnaive(a,b)

12
24

12

In [ ]:
#prime numbers

def is_prime(n):
  if n<2:
    return False
  for i in range(2,n):
    if n%i==0:
      return False
  return True

n = int(input())
is_prime(n)

5

True

In [ ]:
def is_prime(n):
  if n<2:
    return False
  for i in range(2,n):
    if n%i==0:
      return False
  return True

n = int(input())
print(f"Is the number {n} is a prime number: {is_prime(n)}")

5
Is the number 5 is a prime number: True

In [ ]:
def isprime(n):
  if n<2:
    return False
  for i in range(2,n):
    if n%i==0:
      return False
  return True
n = int(input())
print(f"Is the number {n} is a prime number: {isprime(n)}")

5
Is the number 5 is a prime number: True

In [ ]:
def isprime(n):
  if n<2:
    return False
  for i in range(2,n):
    if n%i ==0:
      return False
  return True

n = int(input())
isprime(n)

4

False

In [ ]:
#Number Palindrome

def isPalindrome(number):
    # Check if number is negative
    # write your code here
    if number<0:
        return False

    # Initialize variables
    reversed_num = 0
    temp = number

    # Reverse the number
    # write your code here
    while temp!=0:
        digit = temp%10
        reversed_num = reversed_num*10 + digit
        temp//=10

    #Check if the number is a palindrome
    # write your code here
    if  reversed_num == number:
        return True
    else:
        return False

# Prompt for user input
number = int(input())
# Display the result
result = isPalindrome(number)
print(result)

121
True

In [ ]:
#using Slicing
def Numerical_palindrome(num):
  num_list = list(str(num))
  reversed_list = int(''.join(num_list[::-1]))
  return reversed_list

num = 121
print(palindrome(num))

121

In [ ]:
#Alphabetical Palindrome

def Palindrome(word):
  for ch in word:
      if word == word[::-1]:
        return True
      else:
        return False


word = input()
print(Palindrome(word))

civic
True

In [ ]:
#Leap Year

def leap_year(year):
  return (year%4==0 and year%100!=0 or year%400==0)

year = int(input())
if leap_year(year):
  print(f"The year {year} is a Leap year:")
else:
  print(f"The year {year} is not a Leap year:")

2021
The year 2021 is not a Leap year:

In [ ]:
#Harmonic sum

def harmonic_sum(n):
  if n<=2:
    return 1
  else:
    return 1 / n + harmonic_sum(n-1)

n = int(input())
harmonic_sum(n)

7

2.092857142857143

In [ ]:
def harmonic_sum(n):
  if n<=2:
    return 1
  else:
    return 1 / n + harmonic_sum(n-1)

n = int(input())
harmonic_sum(n)

6

1.95

In [ ]:
#Perfect Numbers a number is said to be perfect if its sum of divisors == input number
def checkIsPerfectNumber(number):
    divisors = sum([i for i in range(1, number) if number % i == 0])
    return number == divisors

input_Number_is = 6

if checkIsPerfectNumber(input_Number_is):
    print("Number is a Perfect Number.")
else:
    print("Number is not a Perfect Number.")

Number is a Perfect Number.

In [ ]:
def perfect_number(number):
  divisor = sum([i for i in range(1,number) if number%i==0])
  return number == divisor

number = int(input())
if perfect_number(number):
  print(f"{number} is a perfect number")
else:
  print(f"{number} is not a perfect number")

6
6 is a perfect number

In [ ]:
#Missing number

def get_missing_number(arr,n):
  total_sum = (n+1)*(n+2)//2
  actual_sum = sum(arr)
  return total_sum - actual_sum

arr = eval(input())
n=len(arr)
get_missing_number(arr,n)

1,2,4,5,6

3

In [ ]:
def char_string(string):
  new_string = {}

  for char in string:
    if char in new_string:
      new_string[char]+= 1
    else:
      new_string[char]=1
  return new_string

string = input()
result = char_string(string)
print(result)

string = ''
for char in result:
  if char.isalnum():
    string+=char
print(string)

aabcccccaaa
{'a': 5, 'b': 1, 'c': 5}
abc

In [ ]:
def compress_string(s):
    # Initialize an empty result string
    result = []

    # Initialize the first character and its count
    current_char = s[0]
    count = 1

    # Traverse the string starting from the second character
    for i in range(1, len(s)):
        if s[i] == current_char:
            count += 1
        else:
            result.append(f"{current_char}{count}")
            current_char = s[i]
            count = 1

    # Append the final character and its count
    result.append(f"{current_char}{count}")

    # Join the result list into a single string
    return ''.join(result)

# Test the function
input_string = "aabcccccaaa"
output_string = compress_string(input_string)
print(output_string)  # Expected output: "a2b1c5a3"

a2b1c5a3

In [ ]:
arr = [2,2,1,1,1,2,2]
result = [num for num in arr if num !=1]
print(result)

[2, 2, 2, 2]

In [ ]:
def count_highest_occured(arr):
 count = 0
 for i in range(len(arr)):
  if arr[i]==2:
    count+=1
  else:
    continue
 return count

arr= eval(input())
print(count_highest_occured(arr))

[2,2,1,1,1,2,2]
4

In [ ]:
def is_Armstrong(num):
  num_str = len(str(num))
  sum = 0
  temp = num
  while temp>0:
    digit = temp%10 # extracts the last digit
    sum += digit**num_str #performs the desired operation
    temp//=10 # removes the last digits
  if sum == num:
    return True
  else:
    return False

num = int(input())
if is_Armstrong(num):
  print(f"{num} is an Armstrong number")
else:
  print(f"{num} is not an Armstrong number")

153
153 is an Armstrong number

In [ ]:
def is_armstrong(num):
  num_str = len(str(num))
  sum = 0
  temp = number

  while temp!=0:
    digit = temp%10
    sum += digit**num_str
    temp//=10

  if sum == number:
    return True
  else:
    return False

num = int(input())
if is_Armstrong(num):
  print(f"The num is a Armstrong number")
else:
  print(f"The num is not an Armstrong number")

153
The num is a Armstrong number

In [ ]:
def remove_vowels(word):
  vowel = 'aeiouAEIOU'
  consonant = ''

  for ch in word:
    if ch not in vowel:
      consonant += ch
  return consonant

word = input()
remove_vowels(word)

Hello, World!

'Hll, Wrld!'

In [ ]:
def romanToInt(s):
    # Mapping of Roman numerals to integers
    # write your code here
    m = {1 : 'I',5:'V',10:'X',50:'L',100:'C',500:'D',1000:'M'}

    # Convert the Roman numeral to an integer
    ans = 0
    # write your code here
    for num in s:
      if s[num]<s[num+1]:
        ans-=1
      else:
        ans+=1
    # Return the integer value
    return ans

s = input()
romanToInt(s)

III

TypeError: string indices must be integers

In [ ]:
Finding the Maximum Words in Sentences
Easy
A sentence is a list of words that are separated by a single space with no leading or trailing spaces.

You are given an array of strings sentences, where each sentences[i] represents a single sentence.

Return the maximum number of words that appear in a single sentence.

Example 1:
Input:
["alice and bob love leetcode", "i think so too", "this is great thanks very much"]

Output:
6

Explanation:
The first sentence, "alice and bob love leetcode", has 5 words in total.
The second sentence, "i think so too", has 4 words in total.
The third sentence, "this is great thanks very much", has 6 words in total.
Thus, the maximum number of words in a single sentence comes from the third sentence, which has 6 words.

In [ ]:
def mostWordsFound(sentences):
    # Find the sentence with the maximum number of words
    # write your code here
      max_count = [len(sentence.split(" ")) for sentence in sentences]
      max_word_count = max(max_count)
      return max_word_count

# Prompt for user input
sent = eval(input())

# Display the maximum number of words found in any sentence
print(mostWordsFound(sent))

["alice and bob love leetcode", "i think so too", "this is great thanks very much"]
6

In [ ]:
sentences = ["alice and bob love leetcode", "i think so too", "this is great thanks very much"]

In [ ]:
max_count = [len(sentence.split(" ")) for sentence in sentences]
max_count

[5, 4, 6]

In [ ]:
def leftRightDifference(nums):
    # Calculate the difference between left and right sums for each element
    len_nums = len(nums)
    answer = []

    # write your code here
    for i in range(len_nums):
      left_sum = sum(nums[:i])
      right_sum = sum(nums[i+1:])
      abs_diff = abs(left_sum - right_sum)
      answer.append(abs_diff)

    # Return the list of differences
    return answer

# Prompt for user input
lst = eval(input())

# Display the list of differences
print(leftRightDifference(lst))

10,4,8,3
[15, 1, 11, 22]

In [ ]:
1. Initialize Empty Array:
* Create an empty list arr. This will be the target array where numbers are inserted.
2. Insert Elements:
* Loop through the elements of nums and their corresponding indices from index simultaneously using zip(nums, index):
* For each number n and its corresponding index i, insert n into arr at the position i.
* Use list slicing arr[i:i] = [n] for the insertion.
3. Return Result:
* After processing all elements, return the target array arr.
4. User Input and Output:
* Prompt the user to input a list of numbers lst.
* Prompt the user to input a list of indices ind.
* Call createTargetArray with lst and ind, and print the resulting target array.

In [ ]:
def createTargetArray(nums, index):
    # Create the target array based on nums and index
    arr = []
    # write your code here
    for n,i in zip(nums,index):
      arr[i:i]= [n]

    # Return the target array
    return arr

# Prompt for user input
lst = eval(input())
ind = eval(input())

# Display the target array
print(createTargetArray(lst, ind))

[0,1,2,3,4]
[0,1,2,3,4]
[0, 1, 2, 3, 4]

In [ ]:
def truncateSentence(s, k):
    # Split the sentence and truncate to the first k words
    # write your code here
    for word in s:
      res = s.split()
    return

In [ ]:
lst = "Hello how are you Contestant"
k = 4
new = lst.split(' ')
res = new[:k]
res

['Hello', 'how', 'are', 'you']

In [ ]:
n = int(input())

for i in range(1,n+1):
  for j in range(1,i+1):
    print(i+1,end="")
  print()

6
2
23
234
2345
23456
234567

In [ ]:
n = 5
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

*
**
***
****
*****

In [ ]:
n = 5
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

*
**
***
****
*****

In [ ]:
n = 6
for i in range(n):
  for j in range(n-i-1):
    print("*",end="")
  print()

*****
****
***
**
*

In [ ]:
n = int(input())

for i in range(n):
  for j in range(n-i-1):
    print("*",end="")
  print()

5
****
***
**
*

In [ ]:
size = 6
for i in range(1,size+1):
  print(" "*(size-i) + "*"*i)

     *
    **
   ***
  ****
 *****
******

In [ ]:
n = 6
for i in range(1,n+1):
  print(" "*(n-i)+ "*"*i)

     *
    **
   ***
  ****
 *****
******

In [ ]:
n = 5
for i in range(1,n+1):
  print(" "*(n-i) + "*"*i)

    *
   **
  ***
 ****
*****

In [ ]:
size = 6

for i in range(n):
  for j in range(n-i):
    print('*',end="")
  print()

*****
****
***
**
*

In [ ]:
n=6
for i in range(n):
  for j in range(n-i):
    print("*",end="")
  print()

******
*****
****
***
**
*

In [ ]:
size = int(input())
#upper half
for i in range(1,size+1):
  print(" "*(size-i) + "*" *i)
#lower half
for i in range(n):
  for j in range(n-i):
    print("*",end="")
  print()

6
     *
    **
   ***
  ****
 *****
******
*****
****
***
**
*

In [ ]:
n = 6

for i in range(1,n+1):
  print(" "*(n-i) + "*"*i)

for i in range(n):
  for j in range(n-i):
    print("*",end="")
  print()

     *
    **
   ***
  ****
 *****
******
******
*****
****
***
**
*

In [ ]:
n = int(input())
for i in range(n):
  for j in range(n):
    print("*",end = " ")
  print()

5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
for i in range(1,n+1):
  for j in range(n-i-1):
    print("*",end="")
  print()

****
***
**
*

Pyramid pattern

In [ ]:
n = int(input())
for i in range(n):
  for j in range(n-i-1):
    print(" ",end="")
  for j in range(2*i+1):
    print("*",end="")
  print()

6
     *
    ***
   *****
  *******
 *********
***********

In [ ]:
for i in range(n):
  for j in range(n-i-1):
    print(" ",end="")
  for j in range(2*i+1):
    print("*",end="")
  print()

     *
    ***
   *****
  *******
 *********
***********

In [ ]:
for i in range(n):
  for j in range(n-i-1):
    print(" ",end="")
  for j in range(2*i+1):
    print("*",end="")
  print()

     *
    ***
   *****
  *******
 *********
***********

In [ ]:
for i in range(n):
  for j in range(n-i-1):
    print(" ",end="")
  for j in range(2*i+1):
    print("*",end="")
  print()

     *
    ***
   *****
  *******
 *********
***********

In [ ]:
n = int(input())
for i in range(n):
  for j in range(n-i-1):
    print(" ",end="")
  for j in range(2*i+1):
    print("*",end="")
  print()

6
     *
    ***
   *****
  *******
 *********
***********

Diamond Pattern

In [ ]:
n = int(input())
for i in range(n):
   print(" "*(n-i-1) + "*" * (2*i+1))
for i in range(n-2,-1,-1):
   print(" "*(n-i-1) + "*" * (2*i+1))

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
n = int(input())
for i in range(n):
  print(" "*(n-i-1) + "*" * (2*i+1))
for i in range(n-2,-1,-1):
  print(" "*(n-i-1) + "*" * (2*i+1))

6
     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [ ]:
n = 6
for i in range(n):
  print(" "*(n-i-1)+ (2*i+1)*"*")
for i in range(n-2,-1,-1):
  print(" "*(n-i-1)+(2*i+1)*"*")

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [ ]:
for i in range(n):
  print(" "*(n-i-1) + "*"*(2*i+1))
for i in range(n-2,-1,-1):
  print(" "*(n-i-1)+"*"*(2*i+1))

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

Numeric Patterns

In [ ]:
for i in range(n):  # Rows
    num = 1
    for j in range(n - i - 1):  # Spaces
        print(" ", end="")
    for j in range(i + 1):  # Numbers
        print(num, end=" ")
        num += 1
    print()

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5
1 2 3 4 5 6

In [ ]:
for i in range(n):
    print(chr(65 + i) * (i + 1))

A
BB
CCC
DDDD
EEEEE
FFFFFF

In [ ]:
# Input: Number of days
numDays = int(input())

# Input: List of sales values
sales = list(map(int, input().split()))

# Initialize the count of profitable days
profitable_days = 0

# Loop through the sales list and count the positive values
for sale in sales:
    if sale > 0:
        profitable_days += 1

# Output the count of profitable days
print(profitable_days)

5
23 -7 13 -34 56
3

In [ ]:
# Input: The first string
a = input()

# Input: The second string
b = input()

# Concatenate the two strings with a space in between
result = a + " " + b

# Output the concatenated string
print(result)

do
select
do select

In [ ]:
def min_changes_to_remove_palindromic_substrings(s):
    n = len(s)
    if n <= 1:
        return 0
    if s == s[::-1]:
        return 1
    return 0

# Input: The string s
s = input().strip()

# Output: Minimum number of changes
print(min_changes_to_remove_palindromic_substrings(s))

abba
1

In [ ]:
def conacte_ss(a,b):
  result =  a + " " + b
  return result

a = input()
b = input()
conacte_ss(a,b)

do
select

'do select'