<a href="https://colab.research.google.com/github/Tilak46-R/CODING-PRACTICE/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
toppings = ["pepperoni", "mushrooms", "olives", "sausage"]

In [3]:
for topping in toppings:
  print(topping)

pepperoni
mushrooms
olives
sausage

In [8]:
new_toppings = ["bacon", "peppers", "pineapple"]

for topping in new_toppings:
   toppings.append(topping)
print(toppings)

['pepperoni', 'mushrooms', 'olives', 'sausage', 'bacon', 'peppers', 'pineapple', 'bacon', 'peppers', 'pineapple', 'bacon', 'peppers', 'pineapple', 'bacon', 'peppers', 'pineapple']

In [14]:
string = input("enter the string")

count = 0

for char in string:
  if char in "aeiouAEIOU":
      count+=1
print("the number of vowels in the string is", count)

enter the stringarun
the number of vowels in the string is 2

In [17]:
for i in range(5):
 print(i)

0
1
2
3
4

In [20]:
for i in range(10):
  if i == 8:
    break
  print(i)

0
1
2
3
4
5
6
7

In [22]:
for i in range(10):
  if i % 2==0:
    continue
  print(i)

1
3
5
7
9

In [34]:
tournament = [['Alice', 'Charlie'], ['Bob', 'Diana']]
team1 = []
team2 = []

for group in tournament:
  for player in group:
    if player[0] == 'A' or player[0] == 'B':
     team1.append(player)
    else:
      team2.append(player)
print(f"the players from team1 are {team1} \n the players from team2 are {team2}" )

the players from team1 are ['Alice', 'Bob']
 the players from team2 are ['Charlie', 'Diana']

In [35]:
numbers = [
    [2, 5, 11, 20, 8],
    [9, 4, 15, 28, 17],
    [1, 6, 21, 18, 3],
    [10, 13, 25, 33, 30],
    [14, 7, 16, 19, 22]
]

even_count = 0
odd_count = 0

for sublist in numbers:
  for number in sublist:
    if number %2 == 0:
      even_count +=1
    else:
      odd_count +=1
print(f"The number of even_numbers {even_count} \n The number of odd_numbers {odd_count} ")

The number of even_numbers 12
 The number of odd_numbers 13

In [36]:
grades = [90, 85, 95, 80, 75, 85, 90, 85, 70, 80,
          90, 75, 80, 85, 90, 95, 80, 75, 85, 90,
          85, 90, 75, 80, 85]

total_grade = 0
for grade in grades:
  total_grade += grade

average_grade = total_grade/len(grades)

print(f"the average grades of students are: {average_grade}")

the average grades of students are: 83.8