<a href="https://colab.research.google.com/github/Tilak46-R/CODING-PRACTICE/blob/main/Top_25_question_for_interview%3Ds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Reverse A Number

In [ ]:
num = input()
num_list = list(str(num))
reverse = ''.join(num_list[::-1])
print(reverse)

1234
4321

In [ ]:
def reverse(number):
  original_number = number
  reverse = 0

  for num in str(number):
    digit = number%10
    reverse = reverse*10 + digit
    number//=10
  print(f"Original number {original_number}")
  print(f"reverse number {reverse}")

reverse(1234)

Original number 1234
reverse number 4321

Fibonacci series

In [ ]:
def fibonacci(n):
  if n<=1:
    return n
  else:
    return fibonacci(n-1) + fibonacci(n-2)

In [ ]:
fibonacci(7)

13

Tribonacci series

In [ ]:
def tribonacci(n):
  if n==0 or n==1:
    return 0
  elif n ==2:
    return 1
  else:
    return tribonacci(n-1) + tribonacci(n-2) + tribonacci(n-3)

tribonacci(6)

7

sum of n natural numbers

In [ ]:
def sum_of_n(n):
  if n == 1:
    return 1
  else:
    return n + sum_of_n(n-1)

In [ ]:
sum_of_n(33)

561

Factorial

In [ ]:
def factorial(n):
  if n<=1:
    return n
  else:
    return n * factorial(n-1)

factorial(5)

120

Armstrong number

In [ ]:
def is_armstrong(number):
  num_list = len(str(number))
  sum = 0
  temp=number

  while temp>0:
    digit = temp%10
    sum += digit**num_list
    temp//=10

  if sum==number:
    return True
  else:
    return False

T = int(input())

for t in range(T):
  test_num = int(input())
  if is_armstrong(test_num):
    print("Yes")
  else:
    print("No")

3
153
Yes
256
No
123
No

patterns

In [ ]:
n = int(input())

for i in range(0,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

5

*
**
***
****
*****

In [ ]:
def pattern(size):

  for i in range(size):
    for j in range(1,size-i):
      print(" ",end="")
    for k in range(0,i+1):
      print("*",end="")
    print()
  return pattern
pattern(5)

T= int(input())

for t in range(T):
  test_pattern = int(input())
  pattern(test_pattern)
  print(pattern)

    *
   **
  ***
 ****
*****
3
6
     *
    **
   ***
  ****
 *****
******
<function pattern at 0x7e40ac424ee0>
8
       *
      **
     ***
    ****
   *****
  ******
 *******
********
<function pattern at 0x7e40ac424ee0>
15
              *
             **
            ***
           ****
          *****
         ******
        *******
       ********
      *********
     **********
    ***********
   ************
  *************
 **************
***************
<function pattern at 0x7e40ac424ee0>

In [ ]:
def pattern(size):

  for i in range(size):
    for j in range(size):
      if i==j or i+j == size-1:
        print("*",end="")
      else:
        print(" ",end="")
    print()
  return pattern

T = int(input())

for t in range(T):
  test_pattern = int(input())
  pattern(test_pattern)
  print(pattern)

3
5
*   *
 * *
  *
 * *
*   *
<function pattern at 0x7e40ac425e10>
10
*        *
 *      *
  *    *
   *  *
    **
    **
   *  *
  *    *
 *      *
*        *
<function pattern at 0x7e40ac425e10>
15
*             *
 *           *
  *         *
   *       *
    *     *
     *   *
      * *
       *
      * *
     *   *
    *     *
   *       *
  *         *
 *           *
*             *
<function pattern at 0x7e40ac425e10>

GCD

In [ ]:
def compute_gcd(x,y):
  if x>y:
    small = y
  else:
    small = x
  for i in range(1,small+1):
    if ((x%i==0) and (y%i==0)):
      gcd = i
  return gcd

compute_gcd(60,36)

12

HARMONIC SUM

In [ ]:
def harmonic_sum(n):
  if n<=2:
    return 1
  else:
    return 1 / n + harmonic_sum(n-1)

harmonic_sum(7)

2.092857142857143

Anagrams

In [ ]:
str1 = input()
str2 = input()

if sorted(str1)==sorted(str2):
  print("It is an Anagram")
else:
  print("It is not an Anagram")

expect
pectex
It is an Anagram

All possible permuatations

In [ ]:
def permuatations(string,left,right):
  if left==right:
    print(''.join(string))
  else:
    for i in range(left,right+1):
      string[left],string[i]=string[i],string[left]
      permuatations(string,left+1,right)
      string[left],string[i]=string[i],string[left]

string = input()
permuatations(list(string),0,len(string)-1)

aba
aba
aab
baa
baa
aba
aab

leap year

In [ ]:
def leap(year):
  return (year&4==0 and year%100!=0) or (year%400==0)

T = int(input())
for t in range(T):
  leap_year=int(input())
  if leap(leap_year):
    print(f"{leap_year} is a leap year ")
  else:
    print(f"{leap_year} is not a leap year")

3
154
154 is a leap year
2024
2024 is a leap year
2022
2022 is not a leap year

Palindrome

In [ ]:
string = input()

for word in string:
  if string==string[::-1]:
    print("Palindrome")
  else:
    print("Not a palindrome")

civic
Palindrome
Palindrome
Palindrome
Palindrome
Palindrome

Rverse of a string

In [ ]:
string = input()
reverse = ''

for i in range(len(string)-1,-1,-1):
  reverse +=string[i]
print("Reverse string",reverse)

word
Reverse string drow

Largest and smallest num

In [ ]:
array = [3,8,1,6,2,10,4,7,5,9]
largest = array[0]
smallest = array[0]

for num in array:
  if num>largest:
    largest=num
  elif num < smallest:
    smallest=num
print("largest num",largest)
print("smallest num",smallest)

largest num 10
smallest num 1

Substring of each other

In [ ]:
str1 = input()
str2 = input()

if str1 in str2 or str2 in str1:
  print("string in a substring")
else:
  print("string not in a substring")

micro processor
micro
string in a substring

Frequency of characters

In [ ]:
string = input()
char_count = {}

for char in string:
  if char in char_count:
    char_count[char]+=1
  else:
    char_count[char]=1
print(char_count)

elsa
{'e': 1, 'l': 1, 's': 1, 'a': 1}

non repeating characters

In [ ]:
string = input()
char_count = {}

for char in string:
  if char in char_count:
    char_count[char]+=1
  else:
    char_count[char]=1
print(char_count)

non_repeating = ''

for char in string:
  if char_count[char]==1:
    non_repeating+=char
print(non_repeating)

programming
{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}
poain

Naive string Matching

In [3]:
def naive_string(text,pattern):
  n = len(text)
  m=len(pattern)

  matches = []

  for i in range(n-m+1):
    j = 0
    while j<m and pattern[j]==text[i+j]:
      j+=1
    if j==m:
      matches.append(i)
  return matches

text = 'abcdefabcdefabcdef'
pattern = 'abc'
naive_string(text,pattern)

[0, 6, 12]

Merge sort

In [1]:
def bubble_sort(arr):
  n = len(arr)

  for i in range(n):
    for j in range(0,n-i-1):
      if arr[j]>arr[j+1]:
        arr[j],arr[j+1]=arr[j+1],arr[j]

arr = [12,96,2,56,78]
bubble_sort(arr)

for i in range(len(arr)):
  print("sorted_array",arr[i])

sorted_array 2
sorted_array 12
sorted_array 56
sorted_array 78
sorted_array 96

Linear search

In [6]:
def linear_search(data,target):

  for i in range(len(data)):
    if data[i]<=1:
      return arr
    if data[i]==target:
      return i
  return -1

arr = [12,96,2,56,78]
target = 2
index = linear_search(arr,target)

if index!=-1:
  print(f"Target {target} is found at index {index}")
else:
  print(f"Target is not found")

Target 2 is found at index 2

Using recursion

In [8]:
def recursive_linear(data,target,start=0):
  if start>len(data):
    return -1
  if data[start]==target:
    return start
  else:
    return recursive_linear(data,target,start+1)

data = [12,96,2,56,78]
target = 2
index = recursive_linear(data,target)

if index!=-1:
  print(f"Target {target} is found at index {index}")
else:
  print(f"Target is not found")

Target 2 is found at index 2