<a href="https://colab.research.google.com/github/Tilak46-R/CODING-PRACTICE/blob/main/Top_25_question_for_interview%3Ds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Reverse A Number

In [1]:
num = input()
num_list = list(str(num))
reverse = ''.join(num_list[::-1])
print(reverse)

1234
4321

In [7]:
def reverse(number):
  original_number = number
  reverse = 0

  for num in str(number):
    digit = number%10
    reverse = reverse*10 + digit
    number//=10
  print(f"Original number {original_number}")
  print(f"reverse number {reverse}")

reverse(1234)

Original number 1234
reverse number 4321

Fibonacci series

In [10]:
def fibonacci(n):
  if n<=1:
    return n
  else:
    return fibonacci(n-1) + fibonacci(n-2)

In [12]:
fibonacci(7)

13

sum of n natural numbers

In [13]:
def sum_of_n(n):
  if n == 1:
    return 1
  else:
    return n + sum_of_n(n-1)

In [14]:
sum_of_n(33)

561

Armstrong number

In [18]:
def is_armstrong(number):
  num_list = len(str(number))
  sum = 0
  temp=number

  while temp>0:
    digit = temp%10
    sum += digit**num_list
    temp//=10

  if sum==number:
    return True
  else:
    return False

T = int(input())

for t in range(T):
  test_num = int(input())
  if is_armstrong(test_num):
    print("Yes")
  else:
    print("No")

3
153
Yes
256
No
123
No

patterns

In [19]:
n = int(input())

for i in range(0,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

5

*
**
***
****
*****

In [24]:
def pattern(size):

  for i in range(size):
    for j in range(1,size-i):
      print(" ",end="")
    for k in range(0,i+1):
      print("*",end="")
    print()
  return pattern
pattern(5)

T= int(input())

for t in range(T):
  test_pattern = int(input())
  pattern(test_pattern)
  print(pattern)

    *
   **
  ***
 ****
*****
3
6
     *
    **
   ***
  ****
 *****
******
<function pattern at 0x7e40ac424ee0>
8
       *
      **
     ***
    ****
   *****
  ******
 *******
********
<function pattern at 0x7e40ac424ee0>
15
              *
             **
            ***
           ****
          *****
         ******
        *******
       ********
      *********
     **********
    ***********
   ************
  *************
 **************
***************
<function pattern at 0x7e40ac424ee0>

In [25]:
def pattern(size):

  for i in range(size):
    for j in range(size):
      if i==j or i+j == size-1:
        print("*",end="")
      else:
        print(" ",end="")
    print()
  return pattern

T = int(input())

for t in range(T):
  test_pattern = int(input())
  pattern(test_pattern)
  print(pattern)

3
5
*   *
 * *
  *
 * *
*   *
<function pattern at 0x7e40ac425e10>
10
*        *
 *      *
  *    *
   *  *
    **
    **
   *  *
  *    *
 *      *
*        *
<function pattern at 0x7e40ac425e10>
15
*             *
 *           *
  *         *
   *       *
    *     *
     *   *
      * *
       *
      * *
     *   *
    *     *
   *       *
  *         *
 *           *
*             *
<function pattern at 0x7e40ac425e10>