<a href="https://colab.research.google.com/github/Tilak46-R/CODING-PRACTICE/blob/main/Untitled39.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hollow Square

In [ ]:
n = int(input())

for i in range(n):
  for j in range(n):
    if i == 0 or i == n-1 or j ==0 or   j == n-1:
      print("#",end="")
    else:
      print(" ",end="")
  print()

5
#####
#   #
#   #
#   #
#####

Triangle

In [1]:
n = int(input())

for i in range(n):
  for j in range(n):
    if i == 0 or i == n-1 or j ==0 or j == n-1:
      print("#",end="")
    else:
      print(" ",end="")
  print()

5
#####
#   #
#   #
#   #
#####

X shape

In [9]:
n = int(input())

for i in range(n):
  for j in range(n):
    if i == j  or  i + j == n-1:
      print("*",end="")
    else:
      print(" ",end="")
  print()

5
*   *
 * *
  *
 * *
*   *

Triangle

In [ ]:
n = int(input())

for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

5
*
**
***
****
*****

In [10]:
n = int(input())

for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

5
*
**
***
****
*****

In [11]:
n - int(input())

for i in range(n):
  for j in range(n-i):
    print("*",end="")
  print()

5
*****
****
***
**
*

In [ ]:
n = int(input())

for i in range(n):
  for j in range(1,n-i):
    print(" ",end="")
  for k in range(0,i+1):
    print("*",end="")
  print()

5
    *
   **
  ***
 ****
*****

In [ ]:
for i in range(n):  # Rows
    for j in range(i + 1):  # Columns
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(n):  # Rows
    for j in range(n - i):  # Columns
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

Given a binary array nums, return the maximum number of consecutive 1's in the array.

Example 1:
Input: nums = [1,1,0,1,1,1]
Output: 3
Explanation: The first two digits or the last three digits are consecutive 1s. The maximum number of consecutive 1s is 3.

Example 2:
Input: nums = [1,0,1,1,0,1]
Output: 2

Constraints:
1 <= nums.length <= 10000
nums[i] is either 0 or 1.

In [21]:
def count_ones(nums):

  count= 0
  max_count = 0

  for num in nums:
    if num == 1:
      count+=1
    else:
      count = 0

    max_count = max(count,max_count)
  return max_count

nums = eval(input())
count_ones(nums)

1,1,1,0,0,1,1,1,1,0

4

In [22]:
def odd_even(lst):
  even = []
  odd=[]

  for num in lst:
    if num%2==0:
      even.append(num)
    else:
      odd.append(num)

  return even,odd

lst = [21,56,57,85,14]
odd_even(lst)

([56, 14], [21, 57, 85])

In [23]:
def biggest_smallest(lst):
  biggest = lst[0]
  smallest = lst[0]

  for num in lst:
    if num >biggest:
      biggest = num
    elif num < smallest:
      smallest = num
  return biggest,smallest


lst = [21,56,57,85,14]
biggest_smallest(lst)

(85, 14)

In [ ]:
nums = eval(input())
count = 0
for num in nums:
  if nums[num]==nums[num+1]:
    count+=1
  else:
    count+=0
print(count)

 [1,1,0,1,1,1]
1

In [ ]:
nums = eval(input())
count = 0
for num in nums:
  if num ==1:
    count+=1
  else:
    count=0
print(count)

[1,1,0,1,1,1]
3

In [ ]:
def count_ones(ls):

  counter=0
  max_count=0

  for i in ls:
    if i==1:
      counter+=1
    else:
      counter=0

    max_count = max(counter,max_count)

  return max_count

You are given a string s representing an attendance record for a student where each character signifies whether
the student was absent, late, or present on that day. The record only contains the following three characters:

'A': Absent.
'L': Late.
'P': Present.
The student is eligible for an attendance award if they meet both of the following criteria:

The student was absent ('A') for strictly fewer than 2 days total.
The student was never late ('L') for 3 or more consecutive days.
Return true if the student is eligible for an attendance award, or false otherwise.



Example 1:
Input: s = "PPALLP"
Output: true
Explanation: The student has fewer than 2 absences and was never late 3 or more consecutive days.

Example 2:
Input: s = "PPALLL"
Output: false
Explanation: The student was late 3 consecutive days in the last 3 days, so is not eligible for the award.


Constraints:

1 <= s.length <= 1000
s[i] is either 'A', 'L', or 'P'.

In [28]:
def check_attendance(s):

  if s.count("A")>5:
    return False
  elif 'LALA' in s:
    return False
  return True

s = input()
check_attendance(s)

PAPALALA

False

In [35]:
def chec_occurence(s):
  count = 0
  if  'string' in s:
      count+=1
  return count

s = s = input()
chec_occurence(s)

stirng has string has string

1

In [24]:
def check_attendance(s):

  if s.count('A')>2:
    return False
  elif 'LLL' in s:
    return False
  return True

s = input()
check_attendance(s)

PPALLL

False

In [ ]:
def check_attendance(s):

  if s.count('A')>=2:
    return False
  elif 'LLL' in s:
    return False
  return True

s = "PPALLL"
check_attendance(s)

False

496. Next Greater Element I
Solved
Easy
Topics
Companies
The next greater element of some element x in an array is the first greater element that is to the right of x in the same array.

You are given two distinct 0-indexed integer arrays nums1 and nums2, where nums1 is a subset of nums2.

For each 0 <= i < nums1.length, find the index j such that nums1[i] == nums2[j] and determine the next greater element of nums2[j] in nums2. If there is no next greater element, then the answer for this query is -1.

Return an array ans of length nums1.length such that ans[i] is the next greater element as described above.



Example 1:

Input: nums1 = [4,1,2], nums2 = [1,3,4,2]
Output: [-1,3,-1]
Explanation: The next greater element for each value of nums1 is as follows:
- 4 is underlined in nums2 = [1,3,4,2]. There is no next greater element, so the answer is -1.
- 1 is underlined in nums2 = [1,3,4,2]. The next greater element is 3.
- 2 is underlined in nums2 = [1,3,4,2]. There is no next greater element, so the answer is -1.
Example 2:

Input: nums1 = [2,4], nums2 = [1,2,3,4]
Output: [3,-1]
Explanation: The next greater element for each value of nums1 is as follows:
- 2 is underlined in nums2 = [1,2,3,4]. The next greater element is 3.
- 4 is underlined in nums2 = [1,2,3,4]. There is no next greater element, so the answer is -1.


Constraints:

1 <= nums1.length <= nums2.length <= 1000
0 <= nums1[i], nums2[i] <= 104
All integers in nums1 and nums2 are unique.
All the integers of nums1 also appear in nums2.

In [ ]:

def nextGreaterElement(nums1,nums2):
        result = []
        for num in nums1:
            # Find the index of num in nums2
            index = nums2.index(num)
            # Initialize next greater element as -1
            next_greater = -1
            # Search for the next greater element to the right in nums2
            for j in range(index + 1, len(nums2)):
                if nums2[j] > num:
                    next_greater = nums2[j]
                    break
            # Append the next greater element to the result list
            result.append(next_greater)
        return result

In [ ]:
nums1 = eval(input())
nums2 = eval(input())
nextGreaterElement(nums1,nums2)

4,1,2
1,4,3,2

[-1, 4, -1]